{% extends "meny.html" %}

{% block innhold %}
	
	{% block verv_tittel %}
	<h3>{{verv|capfirst}}</h3>
	{% endblock verv_tittel %}

	{% block verv_info %}
	
		<p><b>Vervtype:</b> {{verv.get_vervtype_display|capfirst}}verv
		{% if verv.vervtags.count %} ({{verv.vervtags.all|join:", "|capfirst}}){% endif %}</p>

		{% if verv.beskrivelse %}<p>{{verv.beskrivelse}}</p>{% endif %}

		{% if verv.instruks %}<p><b>Fra instruksen:</b> <i>{{verv.instruks}}</i></p>{% endif %}

	{% endblock verv_info %}


	{% if verv.erfaringer.count %}
		<h4>{{verv.plural|capfirst}} gjennom tidene</h4>

		{% block erfaringsskriv_endre %}

		{% endblock erfaringsskriv_endre %}

		{% for erfaring in verv.erfaringer.all %}
			{% if erfaring.medlem %}
				{% if FEATURES.TOGGLE_MEDLEMMER %}
					<a href="{% url 'medlem_info' erfaring.medlem.id %}">{{erfaring.medlem}}</a>
				{% else %}
					{{erfaring.medlem}}
				{% endif %}
			{% else %}
				{{erfaring.navn}
			{% endif %}
			{% if erfaring.rolle %} som {{erfaring.rolle}}{% endif %}
			 i 
			{% if erfaring.produksjon %}
				{% if FEATURES.TOGGLE_PRODUKSJONER %}
					<a href="{% url 'produksjon_info' erfaring.produksjon.id %}">{{erfaring.produksjon}}</a>
				{% else %}
					{{erfaring.produksjon}}
				{% endif %}
			{% else %} 
				{% if FEATURES.TOGGLE_AR %}
					<a href="{% url 'ar_info' erfaring.ar %}">{{erfaring.ar}}</a>
				{% else %}
					{{erfaring.ar}}
				{% endif %}
			{% endif %}
			{% if erfaring.erfaringsskriv and access == 'own' %}
				 – <a href="{{erfaring.erfaringsskriv.url}}">Erfaringsskriv</a>
			{% endif %}
			<br>
		{% endfor %}
		<br>
	{% endif %}

	{% block erfaring_ny %}

	{% endblock erfaring_ny %}


	{% block verv_nav %}

		{% if FEATURES.TOGGLE_EDIT %}
			{% if access == 'admin' or access == 'own' %}
				<br><br>
				<a href="{% url 'verv_endre' verv.id %}">Endre verv</a>
				<br>
			{% endif %}
			{% if perms.SITdata.delete_verv %}
				<br><br>
				<a href="{% url 'verv_slett' verv.id %}">Slett verv</a>
				<br>
			{% endif %}
		{% endif %}

	{% endblock verv_nav %}

{% endblock innhold %}