{% extends "meny.html" %}
{% load static %}

{% block innhold %}


	<div class="title-wrapper">
		{% block nummer_tittel %}
			<h3>{{nummer.tittel}}</h3>
				<p>
					fra
					<a href="{% url 'produksjon_info' nummer.produksjon.id %}">
						{{nummer.produksjon.tittel}}
						{% if nummer.produksjon.produksjonstype == 4 or nummer.produksjon.produksjonstype == 5 %}
							({{nummer.produksjon.spilleperiode}})
						{% else %}
							({{nummer.produksjon.premieredato.year}})
						{% endif %}
					</a>
				</p>
		{% endblock nummer_tittel %}
	</div>

	<div class="number-information">
		<div class="number-lyrics">
			{% if nummer.noter %}
				<a href="{{nummer.noter.url}}" target="_blank" rel="noreferrer noopener" class="secondary-button">Vis noter</a>
			{% endif %}
			{% if nummer.manus %}
			<div>
				<p>{{nummer.manus|linebreaks}}</p>
			</div>
			{% endif %}

			<div class="divider"></div>

			{% if nummer.beskrivelse or nummer.anekdoter %}
			<h4>Kommentarer</h4>
			<div>
				{% block nummer_info %}
					{% if nummer.beskrivelse %}
						<p>{{nummer.beskrivelse|linebreaks}}</p>
					{% endif %}
					{% if user.is_authenticated and nummer.anekdoter %}
						<p><i>{{nummer.anekdoter|linebreaks}}</i></p>
					{% endif %}
				{% endblock nummer_info %}
			</div>
			{% endif %}

		</div>
		<div class="number-media">
			{% if nummer.opptak.count %}
			<div class="gallery">
				{% for opptak in nummer.opptak.all %}
					{%if opptak.offentlig %}
						<figure class="galleryItem">
							<video controls alt="{% if opptak.kontekst %} {{opptak.kontekst}} {% endif %}
								{% if opptak.medlemmer.count %} Med: {% for medlem in opptak.medlemmer.all %} {{medlem}} {% endfor %}{% endif %}">
								<source src="{{opptak.fil.url}}" type="video/mp4">
								Beklager, nettleseren din støtter ikke direkte visning av videoer.
							</video>
							<figcaption class="video-caption">{% if opptak.kontekst %} {{opptak.kontekst}}<br> {% endif %}
								{% if opptak.medlemmer.count %} Med: {% for medlem in opptak.medlemmer.all %}{% if forloop.counter >= 2 %}, {% endif %} {{medlem}} {% endfor %}{% endif %}
							</figcaption>
						</figure>
					{% endif %}
				{% endfor %}
			</div>
			{% endif %}
		</div>

	<script src="{% static 'gallery.js' %}"></script>
	<script src="{% static 'collapsible.js' %}"></script>
	</div>
{% endblock innhold %}
