{% extends "meny.html" %}
{% load static %}

{% block innhold %}

	<section class="production-banner-container">
		<div class="production-banner">
			<div class="image-container">
				{% if nummer.produksjon.plakat %}
					<img src="{{nummer.produksjon.plakat.url}}" class="card-image" loading="lazy">
				{% else %}
					<img src="/files/default/katter.png" class="card-image" loading="lazy">
				{% endif %}
			</div>
			<div class="production-banner-info-container">
				<div class="production-banner-main">
					{% block nummer_tittel %}
						<h2>{{nummer.tittel}}</h2>
							<p>
								fra {{nummer.produksjon.tittel}}
								{% if nummer.produksjon.produksjonstype == 4 or nummer.produksjon.produksjonstype == 5 %}
									({{nummer.produksjon.spilleperiode}})
								{% else %}
									({{nummer.produksjon.spilleperiode|capfirst}} {{nummer.produksjon.premieredato.year}})
								{% endif %}
							</p>
					{% endblock nummer_tittel %}
				</div>
			</div>
		</div>
	</section>

	<div class="production-extra-info">
		<br>
	</div>

	<section class="production-information" id="production-info">
		<a class="production-categories">Beskrivelse</a>
		<div class="production-category-content">
			{% block nummer_info %}
				{% if nummer.beskrivelse %}
				<p>{{nummer.beskrivelse|linebreaks}}</p>
				{% endif %}
				{% if user.is_authenticated and nummer.anekdoter %}
				<p><i>{{nummer.anekdoter|linebreaks}}</i></p>
				{% endif %}
			{% endblock nummer_info %}
		</div>

		{% if nummer.manus %}
		<div class="divider"></div>
		<a class="production-categories">Manus</a>
		<div class="production-category-content">
			<p>{{nummer.manus|linebreaks}}</p>
			<br>
			{% if nummer.noter %}
				<p><a href="{{nummer.noter.url}}">Vis noter</a></p>
			{% endif %}
		</div>
		{% endif %}

		{% if nummer.bilder.count %}
		<div class="divider"></div>
		<a class="production-categories">Bilder</a>
		<div class="production-category-content">
		<div class="gallery">
			{% for bilde in nummer.bilder.all %}
				{% if bilde.offentlig %}
					<figure class="galleryItem">
						<a href="#"><img src="{{bilde.fil.url}}" alt="Bilde {{forloop.counter}}: {% if bilde.kontekst %} {{bilde.kontekst}} {% endif %}
							{% if bilde.medlemmer.count %} Medlemmer: {% for medlem in bilde.medlemmer.all %} {{medlem.fornavn}} {{medlem.kallenavn}} {{medlem.etternavn}}{% endfor %}{% endif %}
							{% if bilde.fotograf %} Foto: {{ bilde.fotograf }} {% endif %}">
						</a>
						<figcaption>{% if bilde.kontekst %} {{ bilde.kontekst }} {% endif %} <br>
							{% if bilde.medlemmer.count %}{% for medlem in bilde.medlemmer.all %}{% if forloop.counter >= 2 %}, {% endif %} {{medlem.fornavn}} {{medlem.kallenavn}} {{medlem.etternavn}}{% endfor %}{% endif %}<br>
							{% if bilde.fotograf %} Foto: {{bilde.fotograf}} {% endif %}
						</figcaption>
					</figure>
				{% endif %}
			{% endfor %}
		</div>
		</div>
		{% endif %}

		{% if nummer.opptak.count %}
		<div class="divider"></div>
		<a class="production-categories">Opptak</a>
		<div class="production-category-content">
		<div class="gallery">
			{% if nummer.opptak.count %} {% for opptak in nummer.opptak.all %}
				{%if opptak.offentlig %}
					<figure class="galleryItem">
						<video controls alt="{% if opptak.kontekst %} {{opptak.kontekst}} {% endif %}
							{% if opptak.medlemmer.count %} Medlemmer: {% for medlem in opptak.medlemmer.all %} {{medlem.fornavn}} {{medlem.kallenavn}} {{medlem.etternavn}}{% endfor %}{% endif %}">
							<source src="{{opptak.fil.url}}" type="video/mp4">
							Sorry, your browser doesn't support embedded videos.
						</video>
						<figcaption class="video-caption">{% if opptak.kontekst %} {{opptak.kontekst}} {% endif %} <br>
							{% if opptak.medlemmer.count %} Medlemmer: {% for medlem in opptak.medlemmer.all %}{% if forloop.counter >= 2 %}, {% endif %} {{ medlem.fornavn }} {{ medlem.kallenavn }} {{ medlem.etternavn }}{% endfor %}{% endif %}
						</figcaption>
					</figure>
				{% endif %}
			{% endfor %} {% endif %}
		</div>
		</div>
		{% endif %}

		<div class="divider"></div>
	</section>


	{% block nummer_nav %}

	{% endblock nummer_nav %}
	<script src="{% static 'gallery.js' %}"></script>
	<script src="{% static 'collapsible.js' %}"></script>
{% endblock innhold %}
