{% extends "meny.html" %}
{% load static %}

{% block header_content %}
  <link rel="stylesheet" href="{% static 'css/numre.css' %}" />
{% endblock header_content %}

{% block innhold %}
  <h1 class="numre-main-heading">Numre</h1>
  <section class="numre-main-wrapper">
    <form class="numre-search-form">
      <label class="numre-search-form__label" for="search-query-input">Søk</label>
      <input class="numre-search-form__input" name="query" id="search-query-input" value="{{ search_query }}">
    </form>
    <div class="nummer-wrapper">
      {% for nummer in nummerliste %}
        <a class="nummer-wrapper__row" href="{% url 'nummer_info' nummer.id %}">
          <div class="nummer-wrapper__row__title-wrapper">
            <h2 class="nummer-wrapper__row__title-wrapper__title">{{ nummer.tittel }}</h2>
            <span class="nummer-wrapper__row__title-wrapper__subtitle">{{ nummer.produksjon }}</span>
          </div>
          <ul class="nummer-wrapper__row__item-list">
            {% if nummer.manus %}<li>Tekst</li>{% endif %}
            {% if nummer.noter %}<li>Noter</li>{% endif %}
            {% if nummer.opptak.count %}<li>Opptak</li>{% endif %}
          </ul>
          <img class="nummer-wrapper__row__chevron" src="{% static "assets/right-chevron.svg" %}" />
          <div class="nummer-wrapper__row__btn">Åpne</div>
        </a>
      {% endfor %}
    </div>
  </section>
{% endblock innhold %}
