{% extends "meny.html" %}

{% block innhold %}

  {% if next %}
    {% if user.is_authenticated %}
    Kontoen din har ikke tilgang til denne siden.<br>
    {% else %}
    Du må logge inn for å se denne siden.<br>
    {% endif %}
    <br>
  {% endif %}
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Logg inn" />
    <input type="hidden" name="next" value="{{next}}" />
  </form>
  
  <br>
  <a href="{% url 'password_reset' %}">Glemt passordet ditt?</a>
  
{% endblock %}