{% extends "meny.html" %}

{% block innhold %}

	{% if validlink %}
		Fyll inn det nye passordet ditt.
		<form action="" method="post">
	        {% csrf_token %}
	        {{form}}
	        <input type="submit" value="Lagre nytt passord"/>
		</form>
    {% else %}
        Tilbakestilling av passord mislyktes!<br>
        <br>
        Lenka for tilbakestilling av passordet var ugyldig, muligens fordi den allerede var brukt. Be om å tilbakestille passordet ditt på nytt.
    {% endif %}

{% endblock %}