*.log
*.pot
*.pyc
*~
__pycache__
/.vscode
db.sqlite3
.DS_Store
files
myvenv

## Hide the production secret key
SITnett/SITnett/local.py

## Ignore the production venv
SITnett/venv/
SITnett/requirements.txt