*.log
*.pot
*.pyc
*~
__pycache__
/.vscode
.DS_Store
myvenv

db.sqlite3
files/
!files/default/

## Hide the production secret key
SITnett/SITnett/local.py

## Ignore the production venv
SITnett/venv/
SITnett/requirements.txt

# Ignore log files
SITnett/logs/*
# Keep log folder
!SITnett/logs/.keep