[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bs4 = "==0.0.1"
requests = "==2.25.1"
lxml = "==4.6.3"
django-super-deduper = "==0.1.4"
django-select2 = "==7.7.1"
html2text = "==2020.1.16"
asgiref = "==3.3.4"
beautifulsoup4 = "==4.9.3"
certifi = "==2020.12.5"
chardet = "==4.0.0"
django-appconf = "==1.0.4"
idna = "==2.10"
pytz = "==2021.1"
soupsieve = "==2.2.1"
sqlparse = "==0.4.2"
urllib3 = "==1.26.5"
Django = "==3.2.12"
Pillow = "==8.3.2"
Markdown = "==3.3.4"

[requires]
python_version = "3.8"
