{% extends "meny.html" %}
{% load static %}

{% block innhold %}

	<section class="production-banner-container">
		<div class="production-banner">
			<div class="image-container">
				<img src="{{produksjon.banner.url}}">
			</div>
			<div class="production-banner-info-container">
				<div class="production-banner-main">
					{% block produksjon_tittel %}
						<h2>{{produksjon.tittel}}</h2>
						{% if produksjon.forfatter %}
							<p>av {{produksjon.forfatter}}</p>
						{% endif %}
					{% endblock produksjon_tittel %}
				</div>
				{% if produksjon.forestillinger.all %}
					<div class="production-banner-info">
						{% for forestilling in produksjon.forestillinger.all %}
							{{forestilling.fullt_tidspunkt}}<br>
						{% endfor %}
					</div>
				{% endif %}
				{% if produksjon.billettlink %}
				<div class="button-container">
					<a href="{{produksjon.billettlink}}" class="btn btn__tickets">Finn billetter</a>
				</div>
				{% endif %}
			</div>
		</div>
	</section>	

	<div class="production-extra-info">
		{% if produksjon.produksjonstags.count %}
			<div class="production-extra-info-box"><img src="{% static 'assets/genre_icon.svg' %}">
			<p>{{produksjon.produksjonstags.all|join:", "|capfirst}}</p>
			</div>
		{% endif %}
		<div class="production-extra-info-box"><img src="{% static 'assets/location_icon.svg' %}">
		<p>{{produksjon.lokale.all|join:", "}}</p>
		</div>
		{% if produksjon.varighet %}
			<div class="production-extra-info-box"><img src="{% static 'assets/duration_icon.svg' %}">
			<p>{{produksjon.varighet|capfirst}}</p>
			</div>
		{% endif %}
		{% if produksjon.pris %}
			<div class="production-extra-info-box"><img src="{% static 'assets/price_icon.svg' %}">
			<p> {{produksjon.pris}} kr
			{% if produksjon.medlemspris %} (ikke-medlem) / {{produksjon.medlemspris}} kr (medlem){% endif %}</p>
			</div>
		{% endif %}
	</div>
	
	<section class="production-information" id="production-info">
		<div class="firstDivider"></div>
		<a class="production-categories">Beskrivelse</a>
		<div class="production-category-content">
			{% block produksjon_info %}
				{% if produksjon.beskrivelse %}
				<p>{{ produksjon.beskrivelse|linebreaks }}</p>
				{% endif %}
				{% if user.is_authenticated and produksjon.anekdoter %}
				<p><i>{{ produksjon.anekdoter|linebreaks }}</i></p>
				{% endif %}
			{% endblock produksjon_info %}
		</div>
		<div class="divider"></div>
		<a class="production-categories">Medvirkende</a>
		<div class="production-category-content">
		{% if vervoppslag %}
			{% for verv, erfaringer in vervoppslag.items %}
				{% if FEATURES.TOGGLE_VERV and verv.erfaringsoverforing and user.is_authenticated %}
					{% if erfaringer.count > 1 %}
						<a href="{% url 'verv_info' verv.id %}"><b>{{verv.plural|capfirst}}:</b></a><br>
					{% else %}
						<a href="{% url 'verv_info' verv.id %}"><b>{{verv.tittel|capfirst}}:</b></a><br>
					{% endif %}
				{% else %}
					{% if erfaringer.count > 1 %}
						<b>{{verv.plural|capfirst}}:</b><br>
					{% else %}
						<b>{{verv.tittel|capfirst}}:</b><br>
					{% endif %}
				{% endif %}
				{% for erfaring in erfaringer %}
                    {% if erfaring.medlem %}
						{% if FEATURES.TOGGLE_MEDLEMMER %}
							<a href="{% url 'medlem_info' erfaring.medlem.id %}">{{erfaring.medlem}}</a></td>
						{% else %}
							{{erfaring.medlem}}
						{% endif %}
                    {% else %}
                        {{ erfaring.navn }}
                    {% endif %}
					{% if erfaring.rolle %} ({{erfaring.rolle}}){% endif %}
					{% block medvirkende_verv_fjern %}
					<br>
					{% endblock medvirkende_verv_fjern %}
				{% endfor %}
				<br>
			{% endfor %}
		{% endif %}
		{% if titteloppslag %}
			{% for tittel, erfaringer in titteloppslag.items %}
				<b>{{tittel|capfirst}}:</b><br>
				{% for erfaring in erfaringer %}
					{% if erfaring.medlem %}
						{% if FEATURES.TOGGLE_MEDLEMMER %}
							<a href="{% url 'medlem_info' erfaring.medlem.id %}">{{erfaring.medlem}}</a></td>
						{% else %}
							{{erfaring.medlem}}
						{% endif %}
                    {% else %}
						{{ erfaring.navn }}
                    {% endif %}
                    {% if erfaring.rolle %} ({{erfaring.rolle}}){% endif %}
					{% block medvirkende_tittel_fjern %}
					<br>
					{% endblock medvirkende_tittel_fjern %}
				{% endfor %}
				<br>
			{% endfor %}
		{% endif %}
		{% block medvirkende_ny %}

		{% endblock medvirkende_ny %}
		</div>
		
		<div class="divider"></div>
		<a class="production-categories">Forestillinger</a>
		<div class="production-category-content">
		{% if produksjon.forestillinger.all %}	
			{% for forestilling in produksjon.forestillinger.all %}
				{{forestilling.fullt_tidspunkt}}
				{% block forestilling_fjern %}
				<br>
				{% endblock forestilling_fjern %}
			{% endfor %}
		{% else %}
			<b>Premieredato:</b> {{produksjon.full_premieredato}}
		{% endif %}
		{% block forestilling_ny %}

		{% endblock forestilling_ny %}
		</div>

		<div class="divider"></div>
		<a class="production-categories">Omtaler</a>
		<div class="production-category-content">
		{% if produksjon.anmeldelser.count %}
			{% for anmeldelse in produksjon.anmeldelser.all %}
				<p>
				<i>{{anmeldelse.utdrag}}</i>
				<p>{{anmeldelse.forfatter}}, {{anmeldelse.medium}}<br>
				{% if user.is_authenticated or anmeldelse.offentlig %}
					<a href="{{anmeldelse.fil.url}}">Les hele anmeldelsen</a>
				{% endif %}
				{% block anmeldelse_fjern %}
				<br>
				{% endblock anmeldelse_fjern %}
				</p>
				</p>
			{% endfor %}
		{% endif %}
		{% block anmeldelse_ny %}

		{% endblock anmeldelse_ny %}
		</div>

		<div class="divider"></div>
		<a class="production-categories">Bildegalleri</a>
		<div class="production-category-content">
			<div class="image-gallery">
				<nav class="gallery-nav">
					{% if produksjon.bilder.count %}
						{% for bilde in produksjon.bilder.all %}
							<img class="image-in-gallery" src="{{bilde.fil.url}}" 
							alt="Bilde {{forloop.counter}}: {% if bilde.kontekst %} {{ bilde.kontekst }} {% endif %} <br/>
							{% if bilde.medlemmer %} Medlemmer: {% for medlem in bilde.medlemmer.all %} {{ medlem.fornavn }} {{ medlem.kallenavn }} {{ medlem.etternavn }}{% endfor %}{% endif %} <br/>
							{% if bilde.arrangement %} {{ bilde.arrangement }} {% endif %} 
							{% if bilde.dato %} {{ bilde.dato }} {% endif %}" onclick="galleryNavigation(this);" />
						{% endfor %}
					{% endif %}
				</nav>
				{% if produksjon.plakat %}
					<div class="gallery-focus-container">
						<img class="gallery-focus" src="{{produksjon.plakat.url}}" id="expandedImg">
					</div>
				{% endif %}
			</div>
			{% if produksjon.plakat %}<div id="imgtext">Plakat</div>{% endif %}
		</div>

		<div class="divider"></div>
	</section>


	{% block produksjon_nav %}

		{% if FEATURES.TOGGLE_EDIT %}
			{% if access == 'admin' or access == 'own' %}
				<br><br>
				<a href="{% url 'produksjon_endre' produksjon.id %}">Endre produksjon</a>
				<br>
			{% endif %}
			{% if perms.SITdata.delete_produksjon %}
				<br><br>
				<a href="{% url 'produksjon_slett' produksjon.id %}">Slett produksjon</a>
				<br>
			{% endif %}
		{% endif %}

	{% endblock produksjon_nav %}
	
	<script src="{% static 'collapsible.js' %}"></script>
	<script src="{% static 'image_gallery.js' %}"></script>
{% endblock innhold %}