{% extends "meny.html" %}
{% load static %}

{% block innhold %}

	<section class="production-banner-container">
		<div class="production-banner">
			<div class="image-container">
				<img src="{{produksjon.banner.url}}">
			</div>
			<div class="production-banner-info-container">
				<div class="production-banner-main">
					{% block produksjon_tittel %}
						<h2>{{produksjon.tittel}}</h2>
						{% if produksjon.forfatter %}
							<p>av {{produksjon.forfatter}}</p>
						{% endif %}
					{% endblock produksjon_tittel %}
					<br>
					<p>
					{% if produksjon.produksjonstype == 2 or produksjon.produksjonstype == 3 %}
						{{produksjon.get_produksjonstype_display}},
					{% endif %}
					{% if produksjon.produksjonstype == 4 or produksjon.produksjonstype == 5 %}
						{{produksjon.semester}}
					{% elif produksjon.spilleperiode %}
						{{produksjon.spilleperiode|capfirst}} {{produksjon.premieredato.year}}
					{% else %}
						{{produksjon.premieredato.year}}
					{% endif %}
					</p>
				</div>
				{% if produksjon.forestillinger.all %}
					<div class="production-banner-info">
						{% for forestilling in produksjon.forestillinger.all %}
							{{forestilling.fullt_tidspunkt}}<br>
						{% endfor %}
					</div>
				{% endif %}
				{% if produksjon.billettlink %}
				<div class="button-container">
					<a href="{{produksjon.billettlink}}" class="btn btn__tickets">Finn billetter</a>
				</div>
				{% endif %}
			</div>
		</div>
	</section>

	<div class="production-extra-info">
		{% if produksjonstags.count %}
			<div class="production-extra-info-box"><img src="{% static 'assets/genre_icon.svg' %}">
			<p>{{produksjonstags|join:", "|capfirst}}</p>
			</div>
		{% endif %}
		<div class="production-extra-info-box"><img src="{% static 'assets/location_icon.svg' %}">
		<p>{{produksjon.lokale.all|join:", "}}</p>
		</div>
		{% if produksjon.varighet %}
			<div class="production-extra-info-box"><img src="{% static 'assets/duration_icon.svg' %}">
			<p>{{produksjon.varighet|capfirst}}</p>
			</div>
		{% endif %}
		{% if produksjon.pris %}
			<div class="production-extra-info-box"><img src="{% static 'assets/price_icon.svg' %}">
			<p> {{produksjon.pris}} kr
			{% if produksjon.medlemspris %} (ikke-medlem) / {{produksjon.medlemspris}} kr (medlem){% endif %}</p>
			</div>
		{% endif %}
	</div>

	<section class="production-information" id="production-info">
		<div class="firstDivider"></div>
		<a class="production-categories">Beskrivelse</a>
		<div class="production-category-content">
			{% block produksjon_info %}
				{% if produksjon.beskrivelse %}
				<p>{{ produksjon.beskrivelse|linebreaks }}</p>
				{% endif %}
				{% if user.is_authenticated and produksjon.anekdoter %}
				<p><i>{{ produksjon.anekdoter|linebreaks }}</i></p>
				{% endif %}
			{% endblock produksjon_info %}
		</div>
		<div class="divider"></div>
		<a class="production-categories">Medvirkende</a>
		<div class="production-category-content">
		{% if vervoppslag %}
			{% for verv, erfaringer in vervoppslag.items %}
				{% if FEATURES.TOGGLE_VERV and verv.erfaringsoverforing and user.is_authenticated %}
					<a href="{% url 'verv_info' verv.id %}"><b>
				{% else %}
					<b>
				{% endif %}
				{% if erfaringer.count > 1 %}
					{% if produksjon.UKEtype == "UKErevy" %}
						{% if verv.tittel == "forfatter" %}
							Forfatterkollegiet:
						{% elif verv.tittel == "komponist" %}
							Komponistkollegiet:
						{% elif verv.tittel == "musiker" %}
							Revybandet:
						{% elif verv.tittel == "lysdesigner" %}
							Lysmestere:
						{% elif verv.tittel == "lystekniker" %}
							Lyslaget:
						{% elif verv.tittel == "videodesigner" %}
							Videomestere:
						{% elif verv.tittel == "videotekniker" %}
							Videolaget:
						{% elif verv.tittel == "lysreklamist" %}
							Lysreklamen:
						{% else %}
							{{verv.plural|capfirst}}:
						{% endif %}
					{% elif produksjon.UKEtype == "UKEintim" %}
						{% if verv.tittel == "forfatter" %}
							Forfatterkollegiet:
						{% elif verv.tittel == "komponist" %}
							Komponistkollegiet:
						{% elif verv.tittel == "musiker" %}
							Bandet:
						{% else %}
							{{verv.plural|capfirst}}:
						{% endif %}
					{% elif produksjon.UKEtype == "supperevy" %}
						{% if verv.tittel == "produsent" %}
							Suppedirektører:
						{% elif verv.tittel == "regissør" %}
							Supperegissører:
						{% elif verv.tittel == "lystekniker" %}
							Suppelys:
						{% elif verv.tittel == "lydtekniker" %}
							Suppelyd:
						{% else %}
							{{verv.plural|capfirst}}:
						{% endif %}
					{% else %}
						{{verv.plural|capfirst}}:
					{% endif %}
				{% else %}
					{% if produksjon.UKEtype == "UKErevy" %}
						{% if verv.tittel == "lysdesigner" %}
							Lysmester:
						{% elif verv.tittel == "lystekniker" %}
							Lyslaget:
						{% elif verv.tittel == "videodesigner" %}
							Videomester:
						{% elif verv.tittel == "videotekniker" %}
							Videolaget:
						{% elif verv.tittel == "lysreklamist" %}
							Lysreklamen:
						{% else %}
							{{verv.tittel|capfirst}}:
						{% endif %}
					{% elif produksjon.UKEtype == "supperevy" %}
						{% if verv.tittel == "produsent" %}
							Suppedirektør:
						{% elif verv.tittel == "regissør" %}
							Supperegissør:
						{% elif verv.tittel == "lystekniker" %}
							Suppelys:
						{% elif verv.tittel == "lydtekniker" %}
							Suppelyd:
						{% else %}
							{{verv.tittel|capfirst}}:
						{% endif %}
					{% else %}
						{{verv.tittel|capfirst}}:
					{% endif %}
				{% endif %}
				{% if FEATURES.TOGGLE_VERV and verv.erfaringsoverforing and user.is_authenticated %}
					</b></a><br>
				{% else %}
					</b><br>
				{% endif %}
				{% for erfaring in erfaringer %}
                    {% if erfaring.medlem %}
						{% if FEATURES.TOGGLE_MEDLEMMER %}
							<a href="{% url 'medlem_info' erfaring.medlem.id %}">{{erfaring.medlem}}</a></td>
						{% else %}
							{{erfaring.medlem}}
						{% endif %}
                    {% else %}
                        {{ erfaring.navn }}
                    {% endif %}
					{% if erfaring.rolle %} ({{erfaring.rolle}}){% endif %}
					{% block medvirkende_verv_fjern %}
					<br>
					{% endblock medvirkende_verv_fjern %}
				{% endfor %}
				<br>
			{% endfor %}
		{% endif %}
		{% if titteloppslag %}
			{% for tittel, erfaringer in titteloppslag.items %}
				<b>{{tittel|capfirst}}:</b><br>
				{% for erfaring in erfaringer %}
					{% if erfaring.medlem %}
						{% if FEATURES.TOGGLE_MEDLEMMER %}
							<a href="{% url 'medlem_info' erfaring.medlem.id %}">{{erfaring.medlem}}</a></td>
						{% else %}
							{{erfaring.medlem}}
						{% endif %}
                    {% else %}
						{{ erfaring.navn }}
                    {% endif %}
                    {% if erfaring.rolle %} ({{erfaring.rolle}}){% endif %}
					{% block medvirkende_tittel_fjern %}
					<br>
					{% endblock medvirkende_tittel_fjern %}
				{% endfor %}
				<br>
			{% endfor %}
		{% endif %}
		{% block medvirkende_ny %}

		{% endblock medvirkende_ny %}
		</div>

		<div class="divider"></div>
		<a class="production-categories">Forestillinger</a>
		<div class="production-category-content">
		{% if produksjon.forestillinger.all %}
			{% for forestilling in produksjon.forestillinger.all %}
				{{forestilling.fullt_tidspunkt}}
				{% block forestilling_fjern %}
				<br>
				{% endblock forestilling_fjern %}
			{% endfor %}
		{% else %}
			<b>Premieredato:</b> {{produksjon.full_premieredato|capfirst}}<br>
		{% endif %}
		{% block forestilling_ny %}

		{% endblock forestilling_ny %}
		</div>

		<div class="divider"></div>
		<a class="production-categories">Omtaler</a>
		<div class="production-category-content">
		{% if produksjon.anmeldelser.count %}
			{% for anmeldelse in produksjon.anmeldelser.all %}
				<p>
				<i>{{anmeldelse.utdrag}}</i>
				<p>{{anmeldelse.forfatter}}, {{anmeldelse.medium}}<br>
				{% if user.is_authenticated or anmeldelse.offentlig %}
					<a href="{{anmeldelse.fil.url}}">Les hele anmeldelsen</a>
				{% endif %}
				{% block anmeldelse_fjern %}
				<br>
				{% endblock anmeldelse_fjern %}
				</p>
				</p>
			{% endfor %}
		{% endif %}
		{% block anmeldelse_ny %}

		{% endblock anmeldelse_ny %}
		</div>

		<div class="divider"></div>
		<a class="production-categories">Bildegalleri</a>
		<div class="production-category-content">
			<div class="gallery">
				{% if produksjon.bilder.count %}
					{% for bilde in produksjon.bilder.all %}
						{%if bilde.offentlig %}
							<figure class="galleryItem">
								<a href="#"><img src="{{bilde.fil.url}}" alt="Bilde {{forloop.counter}}: {% if bilde.kontekst %} {{bilde.kontekst}} {% endif %}
									{% if bilde.medlemmer %} Medlemmer: {% for medlem in bilde.medlemmer.all %} {{medlem.fornavn}} {{medlem.kallenavn}} {{medlem.etternavn}}{% endfor %}{% endif %}
									{% if bilde.fotograf %} Foto: {{ bilde.fotograf }} {% endif %}"></a>
									<figcaption>{% if bilde.kontekst %} {{ bilde.kontekst }} {% endif %} <br>
										{% if bilde.medlemmer %}{% for medlem in bilde.medlemmer.all %}{% if forloop.counter >= 2 %}, {% endif %} {{medlem.fornavn}} {{medlem.kallenavn}} {{medlem.etternavn}}{% endfor %}{% endif %}<br>
										{% if bilde.fotograf %} Foto: {{bilde.fotograf}} {% endif %}
									</figcaption>
							</figure>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>

		<div class="divider"></div>

		<a class="production-categories">Lyd og video</a>
		<div class="production-category-content">
			<div class="gallery">
				{% if produksjon.opptak.count %}
					{% for opptak in produksjon.opptak.all %}
						{%if opptak.offentlig %}
							<figure class="galleryItem">
								<video controls alt="{% if opptak.kontekst %} {{opptak.kontekst}} {% endif %}
									{% if opptak.medlemmer %} Medlemmer: {% for medlem in opptak.medlemmer.all %} {{medlem.fornavn}} {{medlem.kallenavn}} {{medlem.etternavn}}{% endfor %}{% endif %}">
									<source src="{{opptak.fil.url}}" type="video/mp4">
									Sorry, your browser doesn't support embedded videos.
								</video>
								{% comment %} <!--> <div class="mediacaption">{% if opptak.kontekst %} {{opptak.kontekst}} {% endif %} <br>
									{% if opptak.medlemmer %} Medlemmer: {% for medlem in opptak.medlemmer.all %} {{ medlem.fornavn }} {{ medlem.kallenavn }} {{ medlem.etternavn }}{% endfor %}{% endif %}
								</div> </--> {% endcomment %}
							</figure>
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if produksjon.numre.count %}
					{% for nummer in produksjon.numre.all %}
						{% if nummer.opptak.count %}
							{% for opptak in nummer.opptak.all %}
								{%if opptak.offentlig %}
									<figure class="galleryItem">
										<video controls alt="{% if opptak.kontekst %} {{ opptak.kontekst }} {% endif %}
											{% if opptak.medlemmer %} Medlemmer: {% for medlem in opptak.medlemmer.all %} {{ medlem.fornavn }} {{ medlem.kallenavn }} {{ medlem.etternavn }}{% endfor %}{% endif %}">
											<source src="{{opptak.fil.url}}" type="video/mp4">
											Sorry, your browser doesn't support embedded videos.
										</video>
										{% comment %} <!-- <div class="mediacaption">{% if opptak.kontekst %} {{opptak.kontekst}} {% endif %} <br>
											{% if opptak.medlemmer %} Medlemmer: {% for medlem in opptak.medlemmer.all %}{% if forloop.counter >= 2 %}, {% endif %} {{ medlem.fornavn }} {{ medlem.kallenavn }} {{ medlem.etternavn }}{% endfor %}{% endif %}
										</div> --> {% endcomment %}
									</figure>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>

		<div class="divider"></div>
	</section>


	{% block produksjon_nav %}

		{% if FEATURES.TOGGLE_EDIT %}
			{% if access == 'admin' or access == 'own' %}
				<br><br>
				<a href="{% url 'produksjon_endre' produksjon.id %}">Endre produksjon</a>
				<br>
			{% endif %}
			{% if perms.SITdata.delete_produksjon %}
				<br><br>
				<a href="{% url 'produksjon_slett' produksjon.id %}">Slett produksjon</a>
				<br>
			{% endif %}
		{% endif %}

	{% endblock produksjon_nav %}
	<script src="{% static 'gallery.js' %}"></script>
	<script src="{% static 'collapsible.js' %}"></script>
{% endblock innhold %}
