{% extends "produksjoner/produksjon_info.html" %}

{% block produksjon_info %}

	<form action="{% url 'produksjon_redi' produksjon.id %}" enctype="multipart/form-data" method="post">
		{% csrf_token %}
		{{pform}}
		<input type="submit" value="Lagre">
	</form>

{% endblock produksjon_info %}

{% block forestilling_fjern %}

	<a href="{% url 'forestilling_fjern' forestilling.id %}">Fjern</a><br>

{% endblock forestilling_fjern %}

{% block forestilling_ny %}

	<br>
	<form action="{% url 'produksjon_redi' produksjon.id %}" enctype="multipart/form-data" method="post">
		{% csrf_token %}
		Ny forestilling:
		{{fform}}
		<input type="submit" value="Legg til">
	</form>

{% endblock forestilling_ny %}

{% block medvirkende_fjern %}
	<a href="{% url 'erfaring_fjern' erfaring.id %}">Fjern</a><br>
{% endblock medvirkende_fjern %}

{% block medvirkende_ny %}
	<br>
	<form action="{% url 'produksjon_redi' produksjon.id %}" method="post">
		{% csrf_token %}
		Ny medvirkende:
		{{eform}}
		<input type="submit" value="Legg til">
	</form>
{% endblock medvirkende_ny %}

{% block produksjon_nav %}

	<br><br>
	<a href="{% url 'produksjon_info' produksjon.id %}">Vis produksjon</a>

{% endblock produksjon_nav %}
