{% extends "meny.html" %}
{% load static %}

{% block innhold %}
<div class="placeholder-content">
	<div class="placeholder-gif-wrapper">
		<iframe src="https://giphy.com/embed/mCRJDo24UvJMA" class="giphy-embed" frameBorder="0" style=height:250px></iframe>
		<p class="text-info"><a href="https://giphy.com/gifs/dog-shiba-inu-typing-mCRJDo24UvJMA">via GIPHY</a></p>
	</div>
	<h2>Under arbeid</h2>
	<p>Denne siden er under arbeid. Se <a href="http://skrift.no/sit/index.asp?vis=nyheter" target="_blank" rel="noreferrer noopener">våre gamle nettsider</a> for å finne denne informasjonen</p>
</div>
{% comment %} <div class="production-wrapper">
	<div class="card-wrapper">
		{% for produksjon in pliste %}
		<a class="card" href="{% url 'produksjon_info' produksjon.id %}">
			<img src="{{produksjon.banner.url}}" class="card-image">
			<div class="card-container">
			<h3 class="card-title">{{produksjon.tittel}}</h3> 
			<div class="text-info text-strong">{{produksjon.premiere.date}}</div> 
			</div>
		</a>
		{% endfor %}
	</div>
		{% if perms.SITdata.add_produksjon %}
		<br><br>
		<a href="{% url 'produksjon_ny' %}">Ny produksjon</a>
		{% endif %}
</div> {% endcomment %}

{% endblock innhold %}
