{% extends "produksjoner/produksjon_info.html" %}

{% block produksjon_info %}

	<form action="{% url 'produksjon_endre' produksjon.id %}" enctype="multipart/form-data" method="post" class="form-wrapper">
		{% csrf_token %}
		<div class="ingress">Endre produksjon</div>
		{{produksjonsform}}
		<input type="submit" name='lagre_produksjon' value="Lagre endringer">
	</form>

{% endblock produksjon_info %}


{% block forestilling_fjern %}

	<a href="{% url 'forestilling_fjern' forestilling.id %}">Fjern</a><br>

{% endblock forestilling_fjern %}

{% block forestilling_ny %}

	<br>
	<form action="{% url 'produksjon_endre' produksjon.id %}" method="post" class="form-wrapper">
		{% csrf_token %}
		<div class="ingress">Ny forestilling</div>
		{{forestillingsform}}
		<input type="submit" name='lagre_forestilling' value="Legg til">
	</form>

{% endblock forestilling_ny %}


{% block medvirkende_verv_fjern %}

	<a href="{% url 'erfaring_fjern' erfaring.id %}">Fjern</a><br>

{% endblock medvirkende_verv_fjern %}

{% block medvirkende_tittel_fjern %}

	<a href="{% url 'erfaring_fjern' erfaring.id %}">Fjern</a><br>

{% endblock medvirkende_tittel_fjern %}

{% block medvirkende_ny %}

	<br>
	<form action="{% url 'produksjon_endre' produksjon.id %}" enctype="multipart/form-data" method="post" class="form-wrapper">
		{% csrf_token %}
		<div class="ingress">Ny medvirkende</div>
		{{erfaringsform}}
		<input type="submit" name='lagre_erfaring' value="Legg til">
	</form>

{% endblock medvirkende_ny %}


{% block anmeldelse_fjern %}

	<a href="{% url 'anmeldelse_fjern' anmeldelse.id %}">Fjern</a><br>

{% endblock anmeldelse_fjern %}

{% block anmeldelse_ny %}

	<br>
	<form action="{% url 'produksjon_endre' produksjon.id %}" enctype="multipart/form-data" method="post" class="form-wrapper">
		{% csrf_token %}
		<div class="ingress">Ny anmeldelse</div>
		{{anmeldelsesform}}
		<input type="submit" name='lagre_anmeldelse' value="Legg til">
	</form>

{% endblock anmeldelse_ny %}


{% block produksjon_nav %}

	<br><br>
	<a href="{% url 'produksjon_info' produksjon.id %}">Vis produksjon</a>
	<br>

{% endblock produksjon_nav %}