{% extends "produksjoner/produksjon_info.html" %}

{% block produksjon_tittel %}

	<p>Er du sikker på at du vil slette produksjonen {{produksjon}}? All data knyttet til produksjonen slettes permanent – inkludert alle medlemmers erfaringer i produksjonen.</p>

	<form action="{% url 'produksjon_slett' produksjon.id %}" method="post">
		{% csrf_token %}
		<input type="submit" value="Ja">
	</form>
	<a href="{% url 'produksjon_info' produksjon.id %}">Nei</a>
	<br><br>

{% endblock produksjon_tittel %}

{% block produksjon_nav %}

	<br><br>
	<a href="{% url 'produksjon_info' produksjon.id %}">Vis produksjon</a>
	<br>

{% endblock produksjon_nav %}