{% extends "meny.html" %} {% load static %} {% block innhold %}

<section class="hero" id="hero">
  {% if ar.forsidebilde %}
    <img class="hero-image" id="hero-image"
  	src="{{ar.forsidebilde.fil.url}}"
  	alt=""
  	data-landscape="{{ar.forsidebilde.fil.url}}"
  	data-portrait="{{ar.forsidebilde.fil.url}}">
  {% else %}
    <img class="hero-image" id="hero-image"
    src="{% static 'img/default_hero.jpg' %}"
    alt=""
    data-landscape="{% static 'img/default_hero.jpg' %}"
    data-portrait="{% static 'img/default_hero.jpg' %}">
  {% endif %}
  <div class="hero-container">
    <h1 class="hero-title">
      {% if ar.forsidetittel %}
        {{ar.forsidetittel}}
      {% else %}
        Velkommen til SIT-nett!
      {% endif %}
    </h1>
    {% if ar.forsidetekst %}
      <p>{{ar.forsidetekst}}</p>
    {% endif %}
    {% comment %}
      <a class="hero-btn btn" href="{% url 'opptak' %}" class="btn" ref="noopener noreferrer">
        Mer informasjon
      </a>
    {% endcomment %}
  </div>
  <div class="text-info" style="position: absolute; bottom: 1rem; left: 1rem; color: white;">
    Foto: 
    {% if ar.forsidebilde.fotograf %}
      {{ar.forsidebilde.fotograf}}
    {% else %}
      <a href="https://foto.samfundet.no/" target="_blank" rel="noreferrer noopener" style="color: white;">foto.samfundet.no</a>
    {% endif %}
  </div>
</section>


<div class="info-wrapper">
  <div class="info-wrapper-content">
    <h2>110 år i 2020</h2>
    <p>
      SIT er teatergruppa på Studentersamfundet i Trondhjem. Dette er en gjeng
      på ca 70 personer som har innslag på en rekke av styrets lørdagsmøter, og
      som også setter opp egne produksjoner. Under UKA har SIT ansvaret for alle
      teaterproduksjonene, ikke minst UKE-revyen.
    </p>

    <p>
      Gruppa ble offisielt stiftet 3. desember 1910 og het da
      Studentersamfundets Teater (eller Samfundsteatret). Det «interne teater»
      var i utgangspunktet betegnelsen på «klikker av teatergutter som slår sig
      sammen og lager forestillinger bare beregnet for underholdning på møtene»
      (Studentersamfundet i Trondhjem gjennem 25 år). Gradvis ble
      Studentersamfundets Interne Teater det offisielle navnet. I programmet for
      Vær-i-tass (1937) står det «Produsent: S.I.T.» og «Kostymene fra atelier
      S.I.T.».
    </p>
  </div>
  <div class="info-wrapper-image">
    <img src="{% static 'assets/rodhette.jpg' %}" width="100%" />
    <div class="text-info">
      Barneteater, Rødhette og ulven (1977)
      <a
        href="https://foto.samfundet.no/"
        target="_blank"
        rel="noreferrer noopener"
        >foto.samfundet.no</a
      >
    </div>
  </div>
</div>

{% comment %} <div class="production-wrapper">
  <div class="card-wrapper">
    <div class="card card__landing">
      <img class="card-image" src="{% static "img/spring-awakening-card.png" %}" alt="Spring Awkening" class="show-image">
      <div class="card-container card-container__landing">
        <h3 class="card-title">Spring Awakening</h3>
        <span class="show-date text-info">4.&ndash;14. oktober 2020</span>
        <p class="center-text">Stikkordene er sårbarhet, seksualitet og nakenhet.</p>
        <a href="#" class="btn btn__tickets">Billetter</a>
      </div>
    </div>
    <div class="card card__landing">
      <img class="card-image" src="{% static "img/dickie-dick-dickens-card.png" %}" alt="Dickie Dick Dickens" class="show-image">
      <div class="card-container card-container__landing">
        <h3 class="card-title">Dickie Dick Dickens</h3>
        <span class="show-date text-info">21.&ndash;22. februar 2021</span>
        <p class="center-text">Dickie Dick Dickens er «mannen med stålnervene, lynøynene og hjertet av gull».</p>
        <a href="#" class="btn btn__tickets">Billetter</a>
      </div>
    </div>
  </div>
</div> {% endcomment %}

<script src="{% static "/hero_img_picker.js" %}"></script>
{% endblock innhold %}
