{% extends "meny.html" %} {% block innhold %}

<section class="hero">
	{% load static %}
	<img class="hero-image" src="{% static "img/hero.png" %}" alt="">
  <div class="hero-container">
		<h1 class="hero-title">Spring<br>Awakening</h1>
		<a class="hero-btn btn" href="#" class="btn">Finn billetter</a>
  </div>
</section>

<section class="about">
  <div class="about-text">
    <h2 class="about-text-title">Om oss</h2>
    <p>
      Lorem ipsum er opprinnelig et lettere redigert utdrag fra De finibus
			bonorum et malorum av Opprinnelig begynte avsnittet: Neque porro quisquam
			<p>
				est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
			</p>
		</p>
		<p>
      Opprinnelig begynte avsnittet: Neque porro quisquam est qui dolorem ipsum
      quia dolor sit. JHbasbf saknd knf j fja ka fjabe fadkafa k aksfja f aj
      flka ljfs ,a kwkf adkjbaw f,ajbjkalkafdqa.
    </p>
	</div>
	<img src="{% static "img/about-us.png" %}" alt="" class="about-image">
</section>

<section class="current-shows">
	<div class="production-card production-card__landing">
		<img class="production-card-image" src="{% static "img/spring-awakening-card.png" %}" alt="Spring Awkening" class="show-image">
		<div class="production-card-container production-card-container__landing">
			<h3 class="production-card-title">Spring Awakening</h3>
			<span class="show-date">4.&ndash;14. oktober 2020</span>
			<p class="center-text">Stikkordene er sårbarhet, seksualitet og nakenhet.</p>
			<a href="#" class="btn btn__tickets">Billetter</a>
		</div>
	</div>
	<div class="production-card production-card__landing">
		<img class="production-card-image" src="{% static "img/dickie-dick-dickens-card.png" %}" alt="Dickie Dick Dickens" class="show-image">
		<div class="production-card-container production-card-container__landing">
			<h3 class="production-card-title">Dickie Dick Dickens</h3>
			<span class="show-date">21.&ndash;22. februar 2021</span>
			<p class="center-text">Dickie Dick Dickens er «mannen med stålnervene, lynøynene og hjertet av gull».</p>
			<a href="#" class="btn btn__tickets">Billetter</a>
		</div>
	</div>
</section>

{% endblock innhold %}
