{% extends "meny.html" %}
{% load static %}

{% block innhold %}
	<div class="info-wrapper">
		<div class="info-wrapper-content">
			<h2>Om SIT</h2>
			<p>
			{% if infotekst %}
				<p>{{infotekst}}</p>
			{% else %}
				<p>Studentersamfundets Interne Teater (SIT) ble stiftet i 1910 og er teatergruppa på Samfundet. Vi består av rundt 70 aktive medlemmer fordelt på de tre undergjengene Kostyme, Kulisse og Skuespill.</p>
				<p>SIT står for teaterproduksjonene som blir satt opp på Studentersamfundet og har forestillinger hvert semester, herunder ansvar for UKErevyen og andre forestillinger under UKA.</p>
				<p>Vi har i tillegg ansvar for kunstneriske innslag på Samfundsmøtene i likhet med de andre kunstneriske gjengene på Studentersamfundet.</p>
			{% endif %}
			</p>
			{% if FEATURES.TOGGLE_AR %}
				<div class="btn-wrapper">
					<a class="btn" href="{% url 'ar_info' ar.arstall %}">Les om SIT i {{ar}}</a>
				</div>
			{% endif %}
		</div>
		<div class="info-wrapper-image">
			<img src="{% static 'img/default_info.jpg' %}" width=100%>
			<div class="font-info">
				Foto: <a href="https://foto.samfundet.no/" target="_blank" rel="noreferrer noopener">foto.samfundet.no</a>
			</div>
		</div>
	</div>
	
{% endblock innhold %}
