{% extends "meny.html" %}

{% block innhold %}

	<div class="wrapper">

	<h2>Kontakt</h2>

	{% if user.is_authenticated %}
		<b>Hele SIT:</b> sit-alle@samfundet.no <br>
		<b>Hele Kostyme:</b> sit-kostyme@samfundet.no <br>
		<b>Hele Kulisse:</b> sit-kulisse@samfundet.no <br>
		<b>Hele Skuespill:</b> sit-skodis@samfundet.no <br>
	{% else %}
		<b>Generelle henvendelser:</b> sit@samfundet.no <br>
	{% endif %}

	<h3>Styret</h3>
	{% if styreoppslag %}
		<table class="member-table">
			<tr>
				<th class="text-strong">Stilling</th>
				<th class="text-strong">Navn</th>
				<th class="text-strong">Henvendelser</th>
				<th class="text-strong">E-post</th>
			</tr>
			{% for verv, erfaringer in styreoppslag.items %}
				<tr>
					{% if erfaringer.count > 1 %}
						{% if FEATURES.TOGGLE_VERV and user.is_authenticated and verv.erfaringsoverforing %}
							<td><a href="{% url 'verv_info' verv.id %}"><b>{{verv.plural|capfirst}}:</b></a></td>
						{% else %}
							<td><b>{{verv.plural|capfirst}}:</b></td>
						{% endif %}
						<td><div style="display: inline-block; white-space: nowrap">
						{% if erfaringer.first.medlem %}
							{% if FEATURES.TOGGLE_MEDLEMMER %}
								<a href="{% url 'medlem_info' erfaringer.first.medlem.id %}">{{erfaringer.first.medlem}}</a>
							{% else %}
								{{erfaringer.first.medlem}}
							{% endif %}
						{% else %}
							{{erfaringer.first.navn}}
						{% endif %}
						{% if erfaringer.first.rolle %} ({{erfaringer.first.rolle}}){% endif %}
						{% for erfaring in erfaringer %}
							{% if forloop.counter > 1 %}
								,&nbsp;</div><div style="display: inline-block; white-space: nowrap">
								{% if erfaring.medlem %}
									{% if FEATURES.TOGGLE_MEDLEMMER %}
										<a href="{% url 'medlem_info' erfaring.medlem.id %}">{{erfaring.medlem}}</a>
									{% else %}
										{{erfaring.medlem}}
									{% endif %}
								{% else %}
									{{erfaring.navn}}
								{% endif %}
								{% if erfaring.rolle %} ({{erfaring.rolle}}){% endif %}
							{% endif %}
						{% endfor %}
						</div></td>
					{% else %}
						{% if FEATURES.TOGGLE_VERV and user.is_authenticated and verv.erfaringsoverforing %}
							<td><a href="{% url 'verv_info' verv.id %}"><b>{{verv.tittel|capfirst}}:</b></a></td>
						{% else %}
							<td><b>{{verv.tittel|capfirst}}:</b></td>
						{% endif %}
						<td><div style="display: inline-block; white-space: nowrap">
						{% if erfaringer.first.medlem %}
							{% if FEATURES.TOGGLE_MEDLEMMER %}
								<a href="{% url 'medlem_info' erfaringer.first.medlem.id %}">{{erfaringer.first.medlem}}</a>
							{% else %}
								{{erfaringer.first.medlem}}
							{% endif %}
						{% else %}
							{{erfaringer.first.navn}}
						{% endif %}
						{% if erfaringer.first.rolle %} ({{erfaringer.first.rolle}}){% endif %}
						</div></td>
					{% endif %}
					<td>{% if verv.henvendelser %}{{verv.henvendelser|capfirst}}{% endif %}</td>
					<td>{% if verv.epost %}{{verv.epost}}{% endif %}</td>
				</tr>
			{% endfor %}
		</table>
		<br><br>
	{% endif %}

	<b>Hele SIT-styret:</b> sit-styret@samfundet.no <br>

	{% if vervoppslag %}
		<h3>Gjengverv</h3>
		<table class="member-table">
			<tr>
				<th class="text-strong">Stilling</th>
				<th class="text-strong">Navn</th>
				<th class="text-strong">Henvendelser</th>
				<th class="text-strong">E-post</th>
			</tr>
			{% for verv, erfaringer in vervoppslag.items %}
				<tr>
					{% if erfaringer.count > 1 %}
						{% if FEATURES.TOGGLE_VERV and user.is_authenticated and verv.erfaringsoverforing %}
							<td><a href="{% url 'verv_info' verv.id %}"><b>{{verv.plural|capfirst}}:</b></a></td>
						{% else %}
							<td><b>{{verv.plural|capfirst}}:</b></td>
						{% endif %}
						<td><div style="display: inline-block; white-space: nowrap">
						{% if erfaringer.first.medlem %}
							{% if FEATURES.TOGGLE_MEDLEMMER %}
								<a href="{% url 'medlem_info' erfaringer.first.medlem.id %}">{{erfaringer.first.medlem}}</a>
							{% else %}
								{{erfaringer.first.medlem}}
							{% endif %}
						{% else %}
							{{erfaringer.first.navn}}
						{% endif %}
						{% if erfaringer.first.rolle %} ({{erfaringer.first.rolle}}){% endif %}
						{% for erfaring in erfaringer %}
							{% if forloop.counter > 1 %}
								,&nbsp;</div><div style="display: inline-block; white-space: nowrap">
								{% if erfaring.medlem %}
									{% if FEATURES.TOGGLE_MEDLEMMER %}
										<a href="{% url 'medlem_info' erfaring.medlem.id %}">{{erfaring.medlem}}</a>
									{% else %}
										{{erfaring.medlem}}
									{% endif %}
								{% else %}
									{{erfaring.navn}}
								{% endif %}
								{% if erfaring.rolle %} ({{erfaring.rolle}}){% endif %}
							{% endif %}
						{% endfor %}
						</div></td>
					{% else %}
						{% if FEATURES.TOGGLE_VERV and user.is_authenticated and verv.erfaringsoverforing %}
							<td><a href="{% url 'verv_info' verv.id %}"><b>{{verv.tittel|capfirst}}:</b></a></td>
						{% else %}
							<td><b>{{verv.tittel|capfirst}}:</b></td>
						{% endif %}
						<td><div style="display: inline-block; white-space: nowrap">
						{% if erfaringer.first.medlem %}
							{% if FEATURES.TOGGLE_MEDLEMMER %}
								<a href="{% url 'medlem_info' erfaringer.first.medlem.id %}">{{erfaringer.first.medlem}}</a>
							{% else %}
								{{erfaringer.first.medlem}}
							{% endif %}
						{% else %}
							{{erfaringer.first.navn}}
						{% endif %}
						{% if erfaringer.first.rolle %} ({{erfaringer.first.rolle}}){% endif %}
						</div></td>
					{% endif %}
					<td>{% if verv.henvendelser %}{{verv.henvendelser|capfirst}}{% endif %}</td>
					<td>{% if verv.epost %}{{verv.epost}}{% endif %}</td>
				</tr>
			{% endfor %}
		</table><br><br>
	{% endif %}
	</div>

{% endblock innhold %}
