{% extends "meny.html" %}

{% block innhold %}
<div class="placeholder-content">
	<div class="placeholder-gif-wrapper">
		<iframe src="https://giphy.com/embed/E6jscXfv3AkWQ" class="giphy-embed" frameBorder="0"></iframe>
		<p class="text-info"><a href="https://giphy.com/gifs/cat-typing-E6jscXfv3AkWQ">via GIPHY</a></p>
	</div>
	<h2>Under arbeid</h2>
	<p>Denne siden er under arbeid. Se <a href="http://skrift.no/sit/index.asp?vis=kontakt" target="_blank" rel="noreferrer noopener">våre gamle nettsider</a> for å finne denne informasjonen</p>
</div>

{% endblock innhold %}
