{% extends "meny.html" %}

{% block innhold %}
	<div class="wrapper">
	
	{% if user.is_authenticated %}
		<h2>Lommelista</h2>
	{% else %}
		<h2>Kontakt</h2>
	{% endif %}

	<b>Generelle henvendelser:</b> sit@samfundet.no <br>

	<h3>Styret</h3>
	{% if styreoppslag %}
		<table class="member-table">
			<tr>
				<th class="text-strong">Stilling</td>
				<th class="text-strong">Navn</td>
				<th class="text-strong">Henvendelser</td>
				<th class="text-strong">E-post</td>
			</tr>
			{% for verv, erfaringer in styreoppslag.items %}
				<tr>
					{% if erfaringer.count > 1 %}
						{% if FEATURES.TOGGLE_VERV and user.is_authenticated and verv.erfaringsoverforing %}
							<td><a href="{% url 'verv_info' verv.id %}"><b>{{verv.plural|capfirst}}:</b></a></td>
						{% else %}
							<td><b>{{verv.plural|capfirst}}:</b></td>
						{% endif %}
						<td>
						{% if FEATURES.TOGGLE_MEDLEMMER %}
							<a href="{% url 'medlem_info' erfaringer.first.medlem.id %}">{{erfaringer.first.medlem}}</a>
						{% else %}
							{{erfaringer.first.medlem}}
						{% endif %}
						{% if erfaringer.first.rolle %} ({{erfaringer.first.rolle}}){% endif %}
						</td>
						{% for erfaring in erfaringer %}
							{% if forloop.counter > 1 %}
								<td></td><td></td></tr><tr><td></td>
								<td>
								{% if FEATURES.TOGGLE_MEDLEMMER %}
									<a href="{% url 'medlem_info' erfaring.medlem.id %}">{{erfaring.medlem}}</a>
								{% else %}
									{{erfaring.medlem}}
								{% endif %}
								{% if erfaring.rolle %} ({{erfaring.rolle}}){% endif %}
								</td>
							{% endif %}
						{% endfor %}
					{% else %}
						{% if FEATURES.TOGGLE_VERV and user.is_authenticated and verv.erfaringsoverforing %}
							<td><a href="{% url 'verv_info' verv.id %}"><b>{{verv.tittel|capfirst}}:</b></a></td>
						{% else %}
							<td><b>{{verv.tittel|capfirst}}:</b></td>
						{% endif %}
						<td>
						{% if FEATURES.TOGGLE_MEDLEMMER %}
							<a href="{% url 'medlem_info' erfaringer.first.medlem.id %}">{{erfaringer.first.medlem}}</a>
						{% else %}
							{{erfaringer.first.medlem}}
						{% endif %}
						{% if erfaringer.first.rolle %} ({{erfaringer.first.rolle}}){% endif %}
						</td>
					{% endif %}
					<td>{% if verv.henvendelser %}{{verv.henvendelser|capfirst}}{% endif %}</td>
					<td>{% if verv.epost %}{{verv.epost}}{% endif %}</td>
				</tr>
			{% endfor %}
		</table>
		<br><br>
	{% endif %}

	<b>Hele SIT-styret:</b> sit-styret@samfundet.no <br>

	{% if vervoppslag %}
		<h3>Gjengverv</h3>
		<table class="member-table">
			<tr>
				<th class="text-strong">Stilling</td>
				<th class="text-strong">Navn</td>
				<th class="text-strong">Henvendelser</td>
				<th class="text-strong">E-post</td>
			</tr>
			{% for verv, erfaringer in vervoppslag.items %}
				<tr>
					{% if erfaringer.count > 1 %}
						{% if FEATURES.TOGGLE_VERV and user.is_authenticated and verv.erfaringsoverforing %}
							<td><a href="{% url 'verv_info' verv.id %}"><b>{{verv.plural|capfirst}}:</b></a></td>
						{% else %}
							<td><b>{{verv.plural|capfirst}}:</b></td>
						{% endif %}
						<td>
							{% if FEATURES.TOGGLE_MEDLEMMER %}
								<a href="{% url 'medlem_info' erfaringer.first.medlem.id %}">{{erfaringer.first.medlem}}</a>
							{% else %}
								{{erfaringer.first.medlem}}
							{% endif %}
							{% if erfaringer.first.rolle %} ({{erfaringer.first.rolle}}){% endif %}
						</td>
						{% for erfaring in erfaringer %}
							{% if forloop.counter > 1 %}
								<td></td><td></td></tr><tr><td></td>
								<td>
								{% if FEATURES.TOGGLE_MEDLEMMER %}
									<a href="{% url 'medlem_info' erfaring.medlem.id %}">{{erfaring.medlem}}</a>
								{% else %}
									{{erfaring.medlem}}
								{% endif %}
								{% if erfaring.rolle %} ({{erfaring.rolle}}){% endif %}
								</td>
							{% endif %}
						{% endfor %}
					{% else %}
						{% if FEATURES.TOGGLE_VERV and user.is_authenticated and verv.erfaringsoverforing %}
							<td><a href="{% url 'verv_info' verv.id %}"><b>{{verv.tittel|capfirst}}:</b></a></td>
						{% else %}
							<td><b>{{verv.tittel|capfirst}}:</b></td>
						{% endif %}
						<td>
						{% if FEATURES.TOGGLE_MEDLEMMER %}
							<a href="{% url 'medlem_info' erfaringer.first.medlem.id %}">{{erfaringer.first.medlem}}</a>
						{% else %}
							{{erfaringer.first.medlem}}
						{% endif %}
						{% if erfaringer.first.rolle %} ({{erfaringer.first.rolle}}){% endif %}
						</td>
					{% endif %}
					<td>{% if verv.henvendelser %}{{verv.henvendelser|capfirst}}{% endif %}</td>
					<td>{% if verv.epost %}{{verv.epost}}{% endif %}</td>
				</tr>
			{% endfor %}
		</table><br><br>
	{% endif %}

	{% if user.is_authenticated %}
		<h3>Medlemmer</h3>
		<table class="member-table">
			<tr>
				<th class="text-strong">Navn</td>
				<th class="text-strong">Telefon</td>
				<th class="text-strong">E-post</td>
			</tr>
			{% for medlem in medlemsliste %}
				<tr>
					<td>
						<a href="{% url 'medlem_info' medlem.id %}"><b>{{medlem.etternavn}}, {{medlem.fornavn}}
						{% if medlem.mellomnavn %}{{medlem.mellomnavn}}{% endif %}</b></a>
					</td>
					<td>{% if medlem.telefon %}{{medlem.telefon}}{% endif %}</td>
					<td>{% if medlem.epost %}{{medlem.epost}}{% endif %}</td>
				</tr>
			{% endfor %}
		</table><br><br>
	{% endif %}
</div>

{% endblock innhold %}
