{% extends "meny.html" %}
{% load static %}

{% block header_content %}
	<link rel="stylesheet" href="{% static 'mobile_contact_form.css' %}">
{% endblock header_content %}

{% block innhold %}

	<div class="wrapper">

	<h2>Lommelista</h2>

	<table class="member-table">
	<thead>
		<tr>
			<th class="text-strong">Navn</th>
			<th class="text-strong">Telefon</th>
			<th class="text-strong">E-post</th>
		</tr>
	</thead>
	<tbody>
		{% for medlem in lommeliste %}
			<tr>
				<td>
					<a href="{% url 'medlem_info' medlem.id %}"><b>{{medlem.etternavn}}, {{medlem.fornavn}}
					{% if medlem.mellomnavn %}{{medlem.mellomnavn}}{% endif %}</b></a>
				</td>
				<td>{% if medlem.telefon %}{{medlem.telefon}}{% endif %}</td>
				<td>{% if medlem.epost %}{{medlem.epost}}{% endif %}</td>
			</tr>
		{% endfor %}
	</tbody>
	</table><br><br>
	</div>

{% endblock innhold %}
