{% extends "meny.html" %}

{% block innhold %}
	
	{% block medlem_navn %}
	<h3>{{medlem}}</h3>
	{% if medlem.kallenavn %}også kjent som <b>"{{medlem.kallenavn}}"</b><br><br>{% endif %}
	{% endblock medlem_navn %}

	{% block medlem_info %}
	<img src="{{medlem.portrett.url}}" height=300>
	
	<br><br>
	<b>Undergjeng:</b> {{medlem.get_ugjeng_display}}<br>
	<b>Opptaksår:</b> {{medlem.opptak}}<br>
	<b>Status:</b> {{medlem.get_status_display|capfirst}}<br>
	<br>
	<b>Fødselsdato:</b> {{medlem.fodsel}}<br>
	<b>Studium:</b> {{medlem.studium|capfirst}}<br>
	{% if medlem.jobb %}<b>Jobb:</b> {{medlem.jobb|capfirst}}<br>{% endif %}
	<br>
	<b>Telefon:</b> {{medlem.telefon}}<br>
	<b>E-post:</b> {{medlem.epost}}<br>
	{% endblock medlem_info %}

	{% if medlem.erfaringer.count %}
		<h4>Erfaringer</h4>
		{% for erfaring in medlem.erfaringer.all %}
			{{erfaring.verv|capfirst}} 
			{% if erfaring.verv.vtype <= 2 %}
				i {{erfaring.ar}}
			{% else %}
				{% if erfaring.verv.vtype == 3 %}
					for 
				{% elif erfaring.rolle %}
					({{erfaring.rolle}}) i
				{% else %}
					i 
				{% endif %}
				<a href="{% url 'produksjon_info' erfaring.produksjon.id %}">{{erfaring.produksjon}}</a>
			{% endif %}
			{% block erfaring_fjern %}
			<br>
			{% endblock erfaring_fjern %}
		{% endfor %}
	{% endif %}
	{% block erfaring_ny %}

	{% endblock erfaring_ny %}

	{% if medlem.utmerkelser.count %}
		<h4>Utmerkelser</h4>
		{% for utmerkelse in medlem.utmerkelser.all %}
			{{utmerkelse.get_utype_display|capfirst}} av {{utmerkelse.get_orden_display}} fra {{utmerkelse.dato.year}}
			{% block utmerkelse_fjern %}
			<br>
			{% endblock utmerkelse_fjern %}
		{% endfor %}
	{% endif %}
	{% block utmerkelse_ny %}

	{% endblock utmerkelse_ny %}

	{% block medlem_nav %}
	<br><br>
	<a href="{% url 'medlem_redi' medlem.id %}">endre medlem</a>
	<br><br>
	<a href="{% url 'medlem_slett' medlem.id %}">slett medlem</a>
	{% endblock medlem_nav %}

{% endblock innhold %}
