{% extends "meny.html" %} {% block innhold %}

<div class="placeholder-content">
  <h2>Opptak 2021</h2>
  <p>
    <b>Søndag 17. januar 23:59</b> åpner et nytt opptak i SIT. Vi tar opp medlemmer i tre ulike undergjenger: kulissebygger, kostymesyer og skuespiller.
  </p>
  <p>
    For å søke må du gjøre det via <b><a href="https://samfundet.no/opptak">Samfundets egne nettsider</a></b>.
  </p>
  <h3>Kulissebygger</h3>
  <p>
    Kulissebyggerne har ansvar for å lage alt du kan se på scenen - med unntak av kostymene: Scenografi, kulisser og rekvisitter. For å gjøre dette må man snekre, sveise, slipe, tegne, planlegge og måle i ulike materialer og for ulike scenerom.  </br></br>Du trenger ikke å være en ekspert allerede når du søker til SIT, for som medlem i kulissegjengen vil du få den opplæringen du trenger. Men stiller du med forkunnskaper er det likevel mange muligheter for å utfordre seg selv og tilpasse arbeidet til de kvalitetene du har!
  </p>
  <h3>Kostymesyer</h3>
  <p>Kostymesyerne har ansvar for å designe og sy kostymene som benyttes under produksjonene til SIT. Under produksjonene våre får kostymesyerne mulighet til å utforske forskjellige designmuligheter samt leke med materialbruk.  </br></br>Det er ingen krav om syferdigheter når du søker, for som kostymesyer i SIT får du delta på kurs hvor man lærer syteknikk og design. Erfaring kommer likevel godt med, og du vil få muligheten til å påvirke arbeidet og kanskje mestre noe du lenge har drømt om å bli bedre i?
  </p>
  <h3>Skuespiller (skådis)</h3>
  <p>Som skuespiller i SIT står du naturligvis på scenen én gang i semesteret. Vi setter opp flere produksjoner i semesteret og bruker et bredt spekter med sjangre. Du vil dermed få mulighet til å velge i stor grad hvilken produksjon du har lyst til å være med på, avhengig av om du best liker å få folk til å le, gråte, eller kanskje forlate salen i sinne? Når du søker som skuespiller vil det være en stor fordel om du har erfaring, men det er ikke et krav.
  </p>
  <h3>Kan man bidra på andre måter i SIT?</h3>
  <p>Selv om du eventuelt blir tatt opp i en av de tre undergjengene, så vil du likevel ha muligheten til å gjøre mye annet! For det er mange roller som må fylles i en produksjon, blant annet som regissør, inspisient,forfatter, produsent, musiker, koreograf, sminkør og administrative roller. Det er heller ikke til å legge under en stol at SIT er en fjasete gjeng, så det er også muligheter for å påta seg/lage småverv som frisør, gymlærer, kordirigent og -medlem, kokk, og mye mer. 
  </p>
  <h3>Hva skjer på et opptak?</h3>
  <p>Søknadsperioden åpner 17. januar 23:59 og stenger fredag 29. januar 23:59. Etter at du har søkt, så vil du bli kontaktet uansett for å høre om når du har tid til å møtes. Om dette passer, så stiller du til et intervju hvor hele styret i SIT er representert (åtte personer) og har veldig lyst til å bli kjent med deg!  </br></br>Opptaket vil foregå digitalt i år. Intervjuene vil bli gjort fortløpende, og vi anbefaler derfor å søke så tidlig som mulig, da intervjutidspunktet er mer fleksibelt.  </br>For kulisse- og kostymesøkere vil intervjuet utelukkende bestå av spørsmål for å bli kjent, men som skuespillersøker vil du i tillegg måtte fremføre ett forutbestemt, og ett egenvalgt innslag (sang, dikt). I forkant av opptaket vil det bli lagt ut et utvalg av tekster, og av disse må dere velge én som dere har lyst til å fremføre. 
  </p>
  <h3>UKA</h3>
  <p>Har du tenkt på å være med i UKA? Som medlem av SIT blir du automatisk tatt opp i UKA. Det vil si at du får muligheten til å lage kulisser, kostymer eller stå på scenen som skuespiller under Norges største studentfestival, i enten UKErevyen, Nattforestillingen eller Barneteateret. For å være skuespiller i UKA må du allerede være medlem av SIT. 
  </p>
  <h3>Hva bør du tenke på til intervjuet?</h3>
  <p>Det viktigste når du søker til SIT er at du har lyst til å være med og synes det virker gøy! Derfor må du ikke ha en imponerende CV når du stiller til intervju. Vi har først og fremst lyst til å bli kjent med deg så kom som du er, også skal vi møte deg med åtte store smil.
  </br></br>Vurder å søke tidlig! Det er mange som søker den siste dagen før fristen, og dermed mange som skal ha intervju! Da er det vanskelig å få kabalen til å gå opp, så for å være sikker på at du får intervju på et tidspunkt som passer deg, så er det lurt å søke så tidlig som mulig. 
  </p>
</div>

{% endblock innhold %}
