{% extends "meny.html" %}
{% load static %}

{% block innhold %}

	<div class="wrapper">
		<div class="title-wrapper">
			<h2>Medlemmer</h2>
		</div>
		<div class="card-wrapper">
			{% for medlem in mliste %}
			<a class="card card-{{ medlem.get_undergjeng_display|lower }}" href="{% url 'medlem_info' medlem.id %}">
				{% if user.is_authenticated %}
					{% if medlem.portrett.url %}<img src="{{medlem.portrett.url}}" class="card-image">{% endif %}
					{% else %} <img src="/files/default/katt.png" class="card-image">
				{% endif %}
				<div class="card-container">
				<h4 class="card-title">{{medlem.fornavn}} {{medlem.mellomnavn}} {{medlem.etternavn}}</h4> 
				<div class="text-info text-strong">
					{% if medlem.status %}{{medlem.get_status_display|capfirst}}
					{% else %}{{medlem.get_mtype_display}}{% endif %}</div> 
				</div>
			</a>
			{% endfor %}
		</div>

		{% if FEATURES.TOGGLE_EDIT and perms.SITdata.add_medlem %}
		<br><br>
		<div class="btn-wrapper">
			<a class="btn" href="{% url 'medlem_ny' %}">Nytt medlem</a>
		</div>
		{% endif %}
	</div>

{% endblock innhold %}