{% extends "medlemmer/medlem_info.html" %}

{% block medlem_navn %}

	<p>Er du sikker på at du vil slette medlemmet {{medlem}}? All data knytta til medlemmet slettes permanent.</p>

	<form action="{% url 'medlem_slett' medlem.id %}" method="post">
		{% csrf_token %}
		<input type="submit" value="Ja">
	</form>
	<a href="{% url 'medlem_info' medlem.id %}">Nei</a>
	<br><br>

{% endblock medlem_navn %}

{% block medlem_nav %}

	<br><br>
	<a href="{% url 'medlem_info' medlem.id %}">Vis medlem</a>
	<br>

{% endblock medlem_nav %}