{% extends "meny.html" %}

{% block innhold %}
<div class="placeholder-content">
	<iframe src="https://giphy.com/embed/hrRJ41JB2zlgZiYcCw" class="giphy-embed" frameBorder="0" style=height:200px></iframe>
	<p class="text-info"><a href="https://giphy.com/gifs/memecandy-hrRJ41JB2zlgZiYcCw">via GIPHY</a></p>
	<h2>Under arbeid</h2>
	<p>Denne siden er under arbeid. Se <a href="http://skrift.no/sit/index.asp?vis=medlem" target="_blank" rel="noreferrer noopener">våre gamle nettsider</a> for å finne denne informasjonen</p>
</div>

<div class="card-wrapper">
	{% for medlem in mliste %}
	<a class="production-card" href="{% url 'medlem_info' medlem.id %}">
		<img src="{{medlem.portrett.url}}" class="production-card-image">
		<div class="production-card-container">
		<h3 class="production-card-title">{{medlem.fornavn}} {{medlem.mellomnavn}} {{medlem.etternavn}}</h3> 
		<div class="text-info text-strong">{{medlem.get_status_display}}</div> 
		</div>
	</a>
	{% endfor %}
</div>

	{% if perms.SITdata.add_medlem %}

	<br><br>
	<a href="{% url 'medlem_ny' %}">Nytt medlem</a>
	{% endif %}

{% endblock innhold %}
