{% extends "meny.html" %}

{% block innhold %}
	
	{% block medlem_navn %}
	<h3>{{medlem}}</h3>
	{% if user.is_authenticated %}
		{% if medlem.kallenavn %}også kjent som <b>"{{medlem.kallenavn}}"</b><br><br>{% endif %}
	{% endif %}
	{% endblock medlem_navn %}

	{% block medlem_info %}
	<img src="{{medlem.portrett.url}}" height=300>
	
	<br><br>
	<b>Undergjeng:</b> {{medlem.get_undergjeng_display}}<br>
	<b>Opptaksår:</b> {{medlem.opptaksar}}<br>
	<b>Status:</b> {{medlem.get_status_display|capfirst}}<br>
	{% if user.is_authenticated %}
	<br>
	<b>Telefon:</b> {{medlem.telefon}}<br>
	<b>E-post:</b> {{medlem.epost}}<br>
	<br>
	<b>Fødselsdato:</b> {{medlem.fodselsdato}}<br>
	<b>Studium:</b> {{medlem.studium|capfirst}}<br>
	{% if medlem.jobb %}<b>Jobb:</b> {{medlem.jobb|capfirst}}<br>{% endif %}
	{% endif %}
	{% endblock medlem_info %}

	{% if medlem.erfaringer.count %}
		<h4>Erfaringer</h4>
		{% for erfaring in medlem.erfaringer.all %}
			{% if erfaring.verv %}
				{% if erfaring.verv.erfaringsoverforing and user.is_authenticated %}
					<a href="{% url 'verv_info' erfaring.verv.id %}">{{erfaring.verv|capfirst}}</a>
				{% else %}{{erfaring.verv|capfirst}}{% endif %}
				{% if erfaring.ar %}
					 i {{erfaring.ar}}
				{% else %}
					{% if erfaring.rolle %} ({{erfaring.rolle}}){% endif %}
					 for <a href="{% url 'produksjon_info' erfaring.produksjon.id %}">{{erfaring.produksjon}}</a>
				{% endif %}
			{% else %}
				{{erfaring.tittel|capfirst}}
				{% if erfaring.ar %}
					 i {{erfaring.ar}}
				{% else %}
					{% if erfaring.rolle %} ({{erfaring.rolle}}){% endif %}
					 for <a href="{% url 'produksjon_info' erfaring.produksjon.id %}">{{erfaring.produksjon}}</a>
				{% endif %}
			{% endif %}
			{% block erfaring_fjern %}
			
			{% endblock erfaring_fjern %}
			<br>
		{% endfor %}
	{% endif %}
	{% block erfaring_ny %}

	{% endblock erfaring_ny %}

	{% if medlem.utmerkelser.count %}
		<h4>Utmerkelser</h4>
		{% for utmerkelse in medlem.utmerkelser.all %}
			{{utmerkelse.full_tittel|capfirst}}
			{% block utmerkelse_fjern %}
			
			{% endblock utmerkelse_fjern %}
			<br>
		{% endfor %}
	{% endif %}
	{% block utmerkelse_ny %}

	{% endblock utmerkelse_ny %}

	{% block medlem_nav %}
	{% if user.is_authenticated %}
		<br><br>
		<a href="{% url 'medlem_redi' medlem.id %}">Endre medlem</a>
	{% endif %}
	{% if access == 'admin' %}
		<br><br>
		<a href="{% url 'medlem_slett' medlem.id %}">Slett medlem</a>
	{% endif %}
	{% endblock medlem_nav %}

{% endblock innhold %}