{% extends "meny.html" %}

{% block innhold %}
	
	
	<div class="member-image-container">
		{% block medlem_info %}
		<img src="{{medlem.portrett.url}}">
	</div>
	
	<div class="member-general-info">
		{% block medlem_navn %}
		<h2>{{medlem}}</h2>
		{% if user.is_authenticated %}
			{% if medlem.kallenavn %}også kjent som <b>"{{medlem.kallenavn}}"</b><br><br>{% endif %}
		{% endif %}
		{% endblock medlem_navn %}
		
		<p>{{medlem.get_status_display|capfirst}}, {{medlem.get_undergjeng_display}}
		</p>

		<div class="member-divider"></div><br>
		<i>
		{% if medlem.utmerkelser.count %}
			{% for utmerkelse in medlem.utmerkelser.all %}
					{{utmerkelse.get_utype_display|capfirst}} av {{utmerkelse.get_orden_display}} ({{utmerkelse.dato.year}})
					{% block utmerkelse_fjern %}
					
					{% endblock utmerkelse_fjern %}
					<br>
				{% endfor %}
			{% endif %}
			{% block utmerkelse_ny %}

			{% endblock utmerkelse_ny %}
		</i>
		<br>
		<b>Tatt opp:</b> {{medlem.opptak}}
		<br>
		<!--
		<br><br>
		<b>Undergjeng:</b> {{medlem.get_undergjeng_display}}<br>
		<b>Opptaksår:</b> {{medlem.opptak}}<br>
		<b>Status:</b> {{medlem.get_status_display|capfirst}}<br>
		-->
		
		{% if user.is_authenticated %}
		<br>
		<table style="width:100%">
			<tr>
			  <td><b>Mobil:</b> </td>
			  <td>{{medlem.telefon}}</td> 
			</tr>
			<tr>
			  <td><b>E-post:</b></td>
			  <td>{{medlem.epost}}</td> 
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
			</tr>
				
			<tr>
			  <td><b>Studerer:</b></td>
			  <td>{{medlem.studium|capfirst}}</td> 
			</tr>
			<tr>
			<td><b>Bursdag:</b></td>
			<td>{{medlem.fodsel}}</td> 
			</tr>
		</table>
		<br>

		{% if medlem.jobb %}<b>Jobb:</b> {{medlem.jobb|capfirst}}<br>{% endif %}
		{% endif %}
		{% endblock medlem_info %}
	</div>

	<section class="member-information">
		<div class="member-firstDivider"></div>
		<a class="member-categories"><h3>Medvirker i</h3></a>
		<div class="member-category-content">
			{% if medlem.erfaringer.count %}
				{% for erfaring in medlem.erfaringer.all %}
					<table style="width:100%">
						<tr>
						<td><h3>{{erfaring.produksjon.semester}} </h3></td>
						<td>{{erfaring.rolle}}</td> 
						</tr>
					</table>
				{% endfor %}
			{% endif %}
		
			
			{% block erfaring_ny %}

			{% endblock erfaring_ny %}

		</div>
		<div class="member-divider"></div>
		<a class="member-categories"><h3>Verv</h3></a>
		<div class="member-category-content">
			{% if medlem.erfaringer.count %}
				{% for erfaring in medlem.erfaringer.all %}
					{{erfaring.verv|capfirst}} 
					{% if erfaring.verv.vtype <= 2 %}
						i {{erfaring.ar}}
					{% else %}
						{% if erfaring.verv.vtype == 3 %}
							for 
						{% elif erfaring.rolle %}
							({{erfaring.rolle}}) i
						{% else %}
							i 
						{% endif %}
						<a href="{% url 'produksjon_info' erfaring.produksjon.id %}">{{erfaring.produksjon}}</a>
					{% endif %}
					{% block erfaring_fjern %}
					
					{% endblock erfaring_fjern %}
					<br>
				{% endfor %}
			{% endif %}
		</div>
	</section>


	{% block medlem_nav %}
	{% if user.is_authenticated %}
		<br><br>
		<a href="{% url 'medlem_redi' medlem.id %}">Endre medlem</a>
	{% endif %}
	{% if access == 'admin' %}
		<br><br>
		<a href="{% url 'medlem_slett' medlem.id %}">Slett medlem</a>
	{% endif %}
	{% endblock medlem_nav %}

{% endblock innhold %}
