
/* 1. GENERAL STYLES */

/* Changes in root is sitewide */
:root {
	--main-bg-color: #F2F4F3;
	--main-text-color: #2B2B2C;
	--secondary-text-color: #4B4B4B;
	--error-red-dark: #ED0000;
	--sit-red-light: #F99FA3;
	--sit-gunmetal-dark: #3C5A68;
	--sit-gunmetal-light: #97B5C3;
	--sit-grullo-dark: #9D886C;
	--sit-grullo-80: #BEAD9D;
	--sit-grullo-light: #DED5CE;
	--sit-grullo-20: #EFEAE7;
	--sit-footer-color: #2D2924;
	--sit-sans: Open Sans, sans-serif;
	--sit-serif: Libre Baskerville, serif;
}

/* 1.1 General styles, mobile/default */

body {
	color: var(--main-text-color);
	background-color: var(--main-bg-color);
	font-family: var(--sit-sans);
	font-size: 18px; 
	font-weight: 400;
	margin: 0;
	width: 100vw;
	position: relative; 
	display: flex;
	flex-direction: column; 
}

content {
	/* display: flex; */
	min-height: 80vh;
	padding-top: 20px;
	left: 0;
	right: 0;
}

h1, h2, h3, h4{
	font-family: var(--sit-serif);
}

a {
	color: var(--main-text-color);
	font-style: normal;
	text-decoration: none;
}

h1 {
	font-size: 2.7em;
	line-height: 3.3em;
}

h2 {
	font-size: 1.9em;
}

h3 {
	font-size: 1.1em;
	line-height: 2em;
}

h4 {
	font-size: 1.0em;
	line-height: 2em;
}

.ingress {
	font-size: 1.3em;
	line-height: 2em;
}

p {
	line-height: 1.3em;
}

.text-strong {
	font-weight: 600;
}

.text-info {
	font-size: 0.9em;
	line-height: 1.3em;
	color: var(--secondary-text-color);
}

/* 1.2 General styles, tablet */
@media only screen and (min-width: 756px) {
	body {
		font-size: 20px; 
	}

	h2 {
		font-size: 2em;
	}
	
	h3 {
		font-size: 1.4em;
		line-height: 2.1em;
	}
	
	.ingress {
		font-size: 1.5em;
		line-height: 2.1em;
	}
	
	p {
		line-height: 1.5em;
	}
	
	.text-info {
		font-size: 0.8em;
		line-height: 1.2em;
	}
		
}

/* 1.3 General styles, desktop */
@media only screen and (min-width: 1024px) {
	h1 {
		font-size: 3em;
		line-height: 3.9em;
	}
	h2 {
		font-size: 2.3em;
	}
	
	h3 {
		line-height: 2.4em;
	}
	
	.ingress {
		font-size: 1.7em;
		line-height: 2.4em;
	}
	
	.text-info {
		font-size: 0.9em;
		line-height: 1.2em;
	}
}

/* 2. NAVBAR & FOOTER */ 

/* 2.1 Navbar */

/* 2.1.1 Default/mobile */

.topnav {
	overflow: hidden;
	position: relative;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	padding: 25px;
}

/* Hide the links inside the navigation menu (except for logo) */
.topnav #menuLinks {
	display: none;
}

/* Style navbar menu and status links */
.topnav #menuLinks a, #status a {
	text-decoration: none;
	display: block;
	padding: 24px;
	font-weight: 600;
}

/* Style the hamburger menu */
.topnav a.hamburger-icon {
	display: block;
	position: absolute;
	right: 0;
	top: 50px;
	margin-right: 25px;
}

/* Style the login icon element */ 
.topnav #status {
	position: absolute; 
	right: 50px;
	top: 25px;
}

/* Add bold font to menu links when hovering */
.topnav a:hover {
	text-decoration: underline;
}

/* Create space between logo and first menu link */
#logo {
	margin-right: 10px;
	padding: 10px 15px 10px 45px;
	
}

/* 2.1.2 Desktop */
@media only screen and (min-width: 1024px) {
	.topnav a.hamburger-icon {
		display: none; 
	}
	.topnav a {
		margin-bottom: auto;
		margin-top: auto;
		float: left; 
		text-align: center;
		text-decoration: none;
	}

	.topnav #menuLinks {
		display: block !important; 
	}
	
	.topnav #status {
		float: right; 
	}
}

/* 2.2 Footer */ 

/* 2.2.1 Default/mobile */
.footer {
	margin-top: auto;
	background-color: var(--sit-footer-color);
	color: var(--sit-grullo-20);
	padding: 40px 20px; 
	height: 600px;
} 
.footer-flex-wrapper{
	width: 80%;
	max-width: 1200px;
	min-width: 320px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer a {
	color: var(--sit-grullo-20);
}
.footer a:hover {
	text-decoration: underline;
	/* color: var(--sit-red-light); */
}
.footer .footer-section{
	width: 25%;
	min-width: 260px;
	padding-bottom: 1em;
}
.footer-some {
	padding-top: 2em;
	height: 6em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.some-links{
	padding: 4px;
}
.footer-some .fa {
	font-size: 1.5em;
	width: 1.2em;
}
.feedback-button{
	margin-top: 1.5em;
	background-color: var(--sit-footer-color);
    width: 200px;
    padding: 1em 0;
	font-size: 0.9em;
	border: solid 1px var(--sit-grullo-20);
	text-decoration: none;
	color: var(--sit-grullo-20);
	text-align: center;
}
.feedback-button:hover{
	background-color: var(--sit-grullo-20);
	color: var(--sit-footer-color);
}

/* 2.2.2 Desktop */
@media only screen and (min-width: 1024px) {
	.footer-some {
		padding-top: 1em;
	}
	.footer {
        height: 250px;
    }
}

/* 3. REUSABLE COMPONENTS */
/* 3.1 CARDS */
.card-wrapper {
	display: grid;
	max-width: 1200px;
	margin: auto;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: min-content;
    grid-gap: 1.0rem 0.5rem;
    justify-content: center;
}

.production-wrapper .card-wrapper{
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.card {
	position: relative;
	cursor: pointer;
	width: 100%;
	background-color: var(--main-bg-color);
	border: 2px solid var(--sit-grullo-light);
}
  
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-kostyme{
	background-color: var(--sit-gunmetal-light);
	border: none;
}

.card-kulisse{
	background-color: var(--sit-grullo-light);
	border: none;
}

.card-skuespill{
	background-color: var(--sit-red-light);
	border: none;
}

.card-image{
	width: 100%;
	object-fit: cover;
	height: 184px;
}

.card-container {
	height: 5em;
	padding: 0 0.5em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.card-title {
	line-height: 1.1em;
	margin: 0 0 0.6em 0;
}

/* 3.1 FORMS */
.form-wrapper{
	display: flex;
	flex-direction: column;
	width: 80%;
	min-width: 320px;
	max-width: 420px;
	margin: 1em auto;
}

.brukerkonto-wrapper{
display: flex;
margin: 1em 0 0.5em 0;
align-items: center;
}

input{
	height: 2em;
	font-size: 0.9em;
}

label{
	margin: 1em 0 0.5em 0;
}

select{
	height: 2em;
	font-size: 0.9em;
}

/*3.2 PLACEHOLDERS*/
.placeholder-content{
	width: 60%;
	max-width: 800px;
	min-width: 320px;
	margin: auto;
	padding-bottom: 2em;
}
.placeholder-gif-wrapper {
	text-align: center;
}
.placeholder-content h2{
	color: var(--sit-gunmetal-dark);
	text-align: center;
}
.placeholder-content h3{
	margin-bottom: 0px;
}
.placeholder-content p{
	margin-top: 0px;
}
.placeholder-content a{
	text-decoration: underline;
	color: var(--sit-gunmetal-dark);
}
.placeholder-content .text-info{
	margin-top: 0;
}
.giphy-embed{
	width: 320px;
	height: 320px;
}

/* 4. SPECIFIC COMPONENTS */
/* 4.1 INFOPAGE */
.info-wrapper{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	width: 80%;
	min-width: 320px;
	max-width: 1200px;
	margin: 3em auto;
}
.info-wrapper h2{
	line-height: 1em;
	margin: 0;
	color: var(--sit-gunmetal-dark);
}
.info-wrapper-content{
	width: 40%;
	min-width: 320px;
}
.info-wrapper-image{
	width: 55%;
	min-width: 320px;
	margin-bottom: 1em;
}

.btn {
	display: inline-block;
	text-align: center;
	line-height: 64px;
	font-weight: 700;
	height: 64px;
	width: 240px;
	border-radius: 32px;
	background-color: var(--sit-gunmetal-dark);
	color: var(--main-bg-color);
}

.btn:hover {
	background-color: var(--sit-gunmetal-light);
}

.btn__tickets {
	color: var(--main-text-color);
	background-color: var(--main-bg-color);
}

.btn__tickets:hover {
	background-color: var(--sit-grullo-20);
	color: inherit;
}
	
/* 4. LANDING PAGE */

/* 4.1 Hero */

.hero {
	position: relative;
	width: 100vw;
	min-height: 60vh;
	background: rgba(0, 0, 0, 0.3);

	/* Displace the padding from the parent container */
	top: -20px;

	/* Hide the overflowing parts of the image */
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--main-bg-color);
}

/*.hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
}*/

.hero-image {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	/* Center large image in a smaller container */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.hero-container {
	max-width: 746px;
	max-height: 100%;
	padding: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-title {
	margin: 0;
	margin-bottom: 30px;
	line-height: 1.31;
	z-index: 1;
}

.hero-btn {
	margin: 0;
	z-index: 1;
}

/* 4.2 Current shows */

.card__landing {
	max-width: 540px;
	height: 22em;
	cursor: default;
}

.card__landing .card-image {
	height: 13em;
}

.card-container__landing {
	padding: 1em 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-content: center;
	align-items: center;
}

.show-date {
	margin-bottom: 0.5em;
}

.center-text{
	display: none;
}

.card__landing p {
	margin: 1em 0;
}

.card__landing:first-of-type {
	background-color: var(--sit-grullo-80);
}

@media only screen and (min-width: 560px) {
	.card-image{
		width: 100%;
		object-fit: cover;
		height: 240px;
	}
	.card-wrapper {
		grid-gap: 1.5rem 2.5rem;
		grid-template-columns: repeat(auto-fit, minmax(168px, 2fr));
	}
	.card-wrapper-production {
		grid-gap: 1.5rem 2.5rem;
	}
}

@media only screen and (min-width: 756px) {
	.hero-container{
		height: 450px;
		padding-bottom: 40px;
	}
	.card__landing {
		height: 30em;
	}
	.center-text{
		display: block;
	}
}

@media only screen and (min-width: 1024px) {
	.hero-container{
		height: 600px;
	}
	.card__landing {
		height: 28em;
	}
	.hero {
		height: 80vh;
	}
}


/* 4.3 Production detail view */

.image-container {
	height: 350px;
}
.image-container img {
	height: 100%;
	max-width: 100%;
	margin: auto;
	object-fit: cover;
}
.production-banner { /* Gjenbrukt i medlem_info*/
	text-align: center;
	margin-top: -20px;
}

.production-banner-main h2 {
	font-size: 1.3em
}

.production-banner .production-banner-info {
	background-color: var(--sit-grullo-light);
	padding: 10px 0 10px 0;
}

.production-extra-info { /* Gjenbrukt i medlem_info*/
	margin: 20px;
}
.button-container{
	width: 100%;
	background-color: var(--sit-grullo-light);
	padding-bottom: 20px;
}
.production-extra-info-box {
	display: flex;
}
.production-extra-info-box img { 
	/* in Firefox the size of the icons were much bigger than in safari. Setting them to an absolute value fixed this. */ 
    width: 20px;
}
.production-extra-info p {
	padding-left: 25px;
}
.production-information { 
	margin: 32px;
	/* height: 600px;  */
}
.production-categories {
	cursor: pointer;
	color: var(--sit-grullo-dark);
}

.divider, .firstDivider {
	flex-grow: 1;
	border-top: 2px solid var(--sit-grullo-dark); 
	margin-bottom: 25px;
}

.active, .production-categories:hover {
	/* Need this even though it is empty for the mobile show category function*/
}

.production-category-content {
	max-height: 0;
	transition: max-height 0.2s ease-out;
	padding: 15px 0;
	overflow: hidden; 
    /* min-height: 500px;  */
}
.production-category-content h3 {
	display: none;
}

/*Desktop view*/
@media only screen and (min-width: 1024px) {
	.production-banner-container{
		width: 100%;
		background-color: var(--sit-grullo-light);

	}
	.production-banner {
		padding: 120px 0;
		text-align: left;
		width: 80%;
		max-width: 1200px;
		margin: -20px auto 0 auto;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	.production-banner-main h2 {
		font-size: 2.3em;
	}

	.production-banner-info {
		display: none;
	}


	.production-banner-info-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 10px;
	}

	.image-container {
		float: right;
		height: 420px;
	}

	.production-extra-info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 80%;
		max-width: 1200px;
		margin: auto;
	}
	.production-extra-info-box {
		padding: 20px;
	}
	
	.production-information {
		position: relative;
		width: 80%;
		max-width: 1200px;
		margin: auto;
		min-height: 320px;
	}
	.production-categories {
		width: 25%;
		color: var(--main-text-color);
		
	}
	.production-category-content {
		position: absolute;
		height: min-content;
		top: 0;
		
		display: none;
		margin-left: 35%;
	}

	.production-category-content h3 {
		display: block;
		margin-top: -0px;
	}

	.divider {
		width: 30%;
		margin: 20px 0;
	}
}

/* 4.4 Member page/could be reusable */ 

.wrapper {
	margin: 5vh 5vh 20vh 5vh; 
}
.production-wrapper {
	margin: 5vh 5vh 20vh 5vh; 
}

.title-wrapper {
	margin: 5vh; 
	text-align: center;
}

.btn-wrapper {
	text-align: center;
	margin: auto;
}

.filter-button{
	width: 100%;
	font-size: 18px;
	text-align: left;
	height: 56px;
	margin-bottom: 16px;
}

.filter-hide{
	display: none;
}
.filter-show{
	display: block!important;
}

#id_undergjeng{
	list-style-type: none;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

#id_undergjeng li{
	
}

/* 4.5 Member detail view (could reuse production detail view style) */

.member-image-container {
	height: 350px;
	text-align: center;

}
.member-image-container img {
	height: 100%;
	max-width: 100%;
	margin: auto;
	object-fit: cover;
}
.member-general-info {
	margin: 20px;
}
.member-general-info h2 {
	text-align: center;
}
.member-general-info p {
	padding-left: 25px;
}
.member-information { 
	margin: 32px;
	/* height: 600px;  */
}
.member-categories {
	cursor: pointer;
	color: var(--sit-gunmetal-light);
}
.member-divider, .member-firstDivider {
	flex-grow: 1;
	border-top: 2px solid var(--sit-gunmetal-light); 
	margin-bottom: 25px;
}

/*Desktop view*/
@media only screen and (min-width: 1024px) {
	
	.member-general-info {
		width: 50%;
		margin: auto;
	}
	.member-information {
		width: 50%;
		margin: auto;
	}
	.divider, .firstDivider {
		flex-grow: 1;
		border-top: 2px solid var(--sit-gunmetal-light); 
		margin-bottom: 25px;
	}
	.member-information {
		margin-bottom: 100px;
	}
}

/* 4.5 Image gallery */
.image-gallery{
	height: 40vh;
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-gap: 10px;
	overflow: hidden;
}

.image-in-gallery {
	display: block;
	max-width: 100%;
}

.gallery-focus-container {
	position: relative;
	display: block;
	height: 100%;
}

.gallery-focus{
	object-fit: contain;
	width: 100%;
}

#imgtext {
	display: block;
	font-size: 20px;
}

.gallery-nav {
	overflow-y: scroll;
	overflow-x: hidden;
}

.member-table {
	border-collapse: collapse;
	width: 100%;
	min-width: 360px;
}
  
.member-table td {
	border: 1px solid var(--sit-grullo-dark);
	padding: 12px;
}

.member-table tr:hover {
	background-color: var(--sit-grullo-20);
}

.member-table th {
	padding: 16px 12px;
	text-align: left;
	background-color: var(--sit-grullo-dark);
	border: 1px solid var(--main-bg-color);
	color: var(--main-bg-color);
}


/* DJANGO_SELECT2 (Widget med søk, nedtrekk og flervalg) */

/* global define, jQuery */
(function (factory) {
  if (typeof define === 'function' && define.amd) {
    define(['jquery'], factory)
  } else if (typeof module === 'object' && module.exports) {
    module.exports = factory(require('jquery'))
  } else {
    // Browser globals
    factory(jQuery)
  }
}(function ($) {
  'use strict'
  var init = function ($element, options) {
    $element.select2(options)
  }

  var initHeavy = function ($element, options) {
    var settings = $.extend({
      ajax: {
        data: function (params) {
          var result = {
            term: params.term,
            page: params.page,
            field_id: $element.data('field_id')
          }

          var dependentFields = $element.data('select2-dependent-fields')
          if (dependentFields) {
            dependentFields = dependentFields.trim().split(/\s+/)
            $.each(dependentFields, function (i, dependentField) {
              result[dependentField] = $('[name=' + dependentField + ']', $element.closest('form')).val()
            })
          }

          return result
        },
        processResults: function (data, page) {
          return {
            results: data.results,
            pagination: {
              more: data.more
            }
          }
        }
      }
    }, options)

    $element.select2(settings)
  }

  $.fn.djangoSelect2 = function (options) {
    var settings = $.extend({}, options)
    $.each(this, function (i, element) {
      var $element = $(element)
      if ($element.hasClass('django-select2-heavy')) {
        initHeavy($element, settings)
      } else {
        init($element, settings)
      }
      $element.on('select2:select', function (e) {
        var name = $(e.currentTarget).attr('name')
        $('[data-select2-dependent-fields=' + name + ']').each(function () {
          $(this).val('').trigger('change')
        })
      })
    })
    return this
  }

  $(function () {
    $('.django-select2').djangoSelect2()
  })

  return $.fn.djangoSelect2
}))