
/* 1. GENERAL STYLES */

/* Changes in root is sitewide */
:root {
	--main-bg-color: #F2F4F3;
	--main-text-color: #2B2B2C;
	--secondary-text-color: #4B4B4B;
	--error-red-dark: #ED0000;
	--sit-red-light: #F99FA3;
	--sit-gunmetal-dark: #3C5A68;
	--sit-gunmetal-light: #97B5C3;
	--sit-grullo-dark: #9D886C;
	--sit-grullo-80: #BEAD9D;
	--sit-grullo-light: #DED5CE;
	--sit-grullo-20: #EFEAE7;
	--sit-footer-color: #2D2924;
	--sit-sans: Open Sans, sans-serif;
	--sit-serif: Libre Baskerville, serif;
}

/* 1.1 General styles, mobile/default */

body {
	color: var(--main-text-color);
	background-color: var(--main-bg-color);
	font-family: var(--sit-sans);
	font-size: 18px; 
	font-weight: 400;
	margin: 0;
	width: 100vw;
	position: relative; 
	display: flex;
	flex-direction: column; 
}

content {
	/* display: flex; */
	min-height: 80vh;
	padding-top: 20px;
	left: 0;
	right: 0;
}

h1, h2, h3{
	font-family: var(--sit-serif);
}

a {
	color: var(--main-text-color);
	font-style: normal;
	text-decoration: none;
}

h1 {
	font-size: 2.7em;
	line-height: 3.3em;
}

h2 {
	font-size: 1.9em;
}

h3 {
	font-size: 1.3em;
	line-height: 2em;
}

.ingress {
	font-size: 1.3em;
	line-height: 2em;
}

p {
	line-height: 1.3em;
}

.text-strong {
	font-weight: 600;
}

.text-info {
	font-size: 0.9em;
	line-height: 1.3em;
	color: var(--secondary-text-color);
}

/* 1.2 General styles, tablet */
@media only screen and (min-width: 756px) {
	body {
		font-size: 20px; 
	}

	h2 {
		font-size: 2em;
	}
	
	h3 {
		font-size: 1.5em;
		line-height: 2.1em;
	}
	
	.ingress {
		font-size: 1.5em;
		line-height: 2.1em;
	}
	
	p {
		line-height: 1.5em;
	}
	
	.text-info {
		font-size: 0.8em;
		line-height: 1.2em;
	}
		
}

/* 1.3 General styles, desktop */
@media only screen and (min-width: 1024px) {
	h1 {
		font-size: 3em;
		line-height: 3.9em;
	}
	h2 {
		font-size: 2.3em;
	}
	
	h3 {
		line-height: 2.4em;
	}
	
	.ingress {
		font-size: 1.7em;
		line-height: 2.4em;
	}
	
	.text-info {
		font-size: 0.9em;
		line-height: 1.2em;
	}
}


/* 2. NAVBAR & FOOTER */ 

/* 2.1 Navbar */

/* 2.1.1 Default/mobile */

.topnav {
	overflow: hidden;
	position: relative;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	padding: 25px;
}

/* Hide the links inside the navigation menu (except for logo) */
.topnav #menuLinks {
	display: none;
}

/* Style navbar menu and status links */
.topnav #menuLinks a, #status a {
	text-decoration: none;
	display: block;
	padding: 24px;
	font-weight: 600;
}

/* Style the hamburger menu */
.topnav a.hamburger-icon {
	display: block;
	position: absolute;
	right: 0;
	top: 50px;
	margin-right: 25px;
}

/* Style the login icon element */ 
.topnav #status {
	position: absolute; 
	right: 50px;
	top: 25px;
}

/* Add bold font to menu links when hovering */
.topnav a:hover {
	text-decoration: underline;
}

/* Create space between logo and first menu link */
#logo {
	margin-right: 10px;
	padding: 10px 15px 10px 45px;
	
}

/* 2.1.2 Desktop */
@media only screen and (min-width: 1024px) {
	.topnav a.hamburger-icon {
		display: none; 
	}
	.topnav a {
		margin-bottom: auto;
		margin-top: auto;
		float: left; 
		text-align: center;
		text-decoration: none;
	}

	.topnav #menuLinks {
		display: block !important; 
	}
	
	.topnav #status {
		float: right; 
	}
}

/* 2.2 Footer */ 

/* 2.2.1 Default/mobile */
.footer {
	margin-top: auto;
	background-color: var(--sit-footer-color);
	color: var(--sit-grullo-20);
	padding: 40px 20px; 
} 
.footer-flex-wrapper{
	width: 80%;
	max-width: 1200px;
	min-width: 320px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer a {
	color: var(--sit-grullo-20);
}
.footer a:hover {
	text-decoration: underline;
	/* color: var(--sit-red-light); */
}
.footer .footer-section{
	width: 25%;
	min-width: 260px;
	padding-bottom: 1em;
}
.footer-some {
	padding-top: 2em;
	height: 6em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.some-links{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.footer-some .fa {
	font-size: 1.5em;
	width: 1.2em;
}

/* 2.2.2 Desktop */
@media only screen and (min-width: 1024px) {
	.footer-some {
		padding-top: 1em;
	}
}

/* 3. REUSABLE COMPONENTS */
/* 3.1 CARDS */
.card-wrapper {
	width: 80%;
	min-width: 340px;
	max-width: 1450px;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	justify-content: flex-start;
}

.production-card {
	width: 100%;
	max-width: 440px;
	cursor: pointer;
	background-color: var(--sit-gunmetal-light);
	margin: 1em;
	}
  
  .production-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .production-card-image{
	  width: 100%;
	  height: 260px;
	  object-fit: cover;
  }
  
  .production-card-container {
	height: 140px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
  }
 
  .production-card-title {
	line-height: 1.1em;
	margin: 0 0 0.6em 0;
  }

  /* 3.1 FORMS */
  .form-wrapper{
	display: flex;
    flex-direction: column;
	width: 80%;
	min-width: 320px;
	max-width: 420px;
    margin: 1em auto;
  }

  .brukerkonto-wrapper{
	display: flex;
	margin: 1em 0 0.5em 0;
	align-items: center;
  }

  input{
	  height: 2em;
	  font-size: 0.9em;
  }
 
  label{
	  margin: 1em 0 0.5em 0;
  }

  select{
	  height: 2em;
	  font-size: 0.9em;
  }

/*3.2 PLACEHOLDERS*/
.placeholder-content{
	width: 60%;
	max-width: 800px;
	min-width: 320px;
	margin: auto;
	text-align: center;
	padding-bottom: 2em;
}
.placeholder-content h2{
	color: var(--sit-gunmetal-dark);
}
.placeholder-content a{
	text-decoration: underline;
	color: var(--sit-gunmetal-dark);
}
.placeholder-content .text-info{
	margin-top: 0;
}
.giphy-embed{
	width: 320px;
	height: 320px;
}

/* 4. SPECIFIC COMPONENTS */
/* 4.1 INFOPAGE */
.info-wrapper{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	width: 80%;
	min-width: 320px;
	max-width: 1200px;
	margin: 3em auto;
}
.info-wrapper h2{
	line-height: 1em;
	margin: 0;
	color: var(--sit-gunmetal-dark);
}
.info-wrapper-content{
	width: 40%;
	min-width: 320px;
}
.info-wrapper-image{
	width: 55%;
	min-width: 320px;
	margin-bottom: 1em;
}

.btn {
	display: inline-block;
	text-align: center;
	line-height: 64px;
	font-weight: 700;
	height: 64px;
	width: 240px;
	border-radius: 32px;
	background-color: var(--sit-grullo-80);
	color: var(--main-bg-color);
}

.btn:hover {
	background-color: var(--sit-grullo-dark);
}

.btn__tickets {
	color: var(--main-text-color);
	background-color: var(--main-bg-color);
}

.btn__tickets:hover {
	background-color: var(--sit-grullo-20);
	color: inherit;
}
	
/* 4. LANDING PAGE */

/* 4.1 Hero */

.hero {
	position: relative;
	width: 100vw;
	height: 60vh;

	/* Displace the padding from the parent container */
	top: -20px;

	/* Hide the overflowing parts of the image */
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--main-bg-color);
}
.hero-image {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	/* Center large image in a smaller container */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero-container {
	max-width: 746px;
	height: 200px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.hero-title {
	margin: 0;
	line-height: 1.31;
}

.hero-btn {
	margin: 0;
}

/* 4.2 Current shows */
.card-wrapper__landing {
	justify-content: space-between;
	max-width: 1200px;
	margin-top: 8em;
}

.production-card__landing {
	max-width: 540px;
	height: 440px;
	cursor: default;
	margin: 1em auto;
}

.production-card-container__landing {
	height: calc(100% - 260px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.show-date {
	margin-bottom: 0.5em;
}

.center-text{
	display: none;
}

.production-card__landing p {
	margin-bottom: 36px;
}

.production-card__landing:first-of-type {
	background-color: var(--sit-grullo-80);
}

@media only screen and (min-width: 756px) {
	.hero-container{
		height: 300px;
	}
	.production-card__landing {
		height: 640px;
	}
	.center-text{
		display: block;
	}
	.show-date {
		margin-bottom: 1.5em;
	}
}

@media only screen and (min-width: 1024px) {
	.production-card__landing {
		margin: 1em auto;
	}
	.hero {
		height: 80vh;
	}
}


/* 4.3 Production detail view */

.image-container {
	height: 350px;
}
.image-container img {
	height: 100%;
	max-width: 100%;
	margin: auto;
}
.production-banner {
	text-align: center;
	margin-top: -20px;
}

.production-banner-main h2 {
	font-size: 1.3em
}

.production-banner .production-banner-info {
	background-color: var(--sit-grullo-light);
	padding: 10px 0 10px 0;
}

.production-information {
	margin: 32px;
}

.production-extra-info {
	margin: 20px;
}
.button-container{
	width: 100%;
	background-color: var(--sit-grullo-light);
	padding-bottom: 20px;
}

.production-extra-info-box {
	display: flex;
}
.production-extra-info p {
	padding-left: 25px;
}

.production-categories {
	cursor: pointer;
	color: var(--sit-grullo-dark);
}

.divider, .firstDivider {
	flex-grow: 1;
	border-top: 2px solid var(--sit-grullo-dark); 
	margin-bottom: 25px;
}
  
.active, .production-categories:hover {
	/* Need this even though it is empty for the mobile show category function*/
}

.production-category-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	padding: 15px 0;
}
.production-category-content h3 {
	display: none;
}

/*Desktop view*/
@media only screen and (min-width: 1024px) {
	.production-banner-container{
		width: 100%;
		background-color: var(--sit-grullo-light);

	}
	.production-banner {
		padding: 120px 0;
		text-align: left;
		width: 80%;
		max-width: 1200px;
		margin: -20px auto 0 auto;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	.production-banner-main h2 {
		font-size: 2.3em;
	}

	.production-banner .production-banner-info {
		padding: 0px;
		order: -1;

	}

	.production-banner-info-container{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-bottom: 10px;
	}

	.image-container {
		float: right;
		height: 420px;
	}

	.production-extra-info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 80%;
		max-width: 1200px;
		margin: auto;
	}
	.production-extra-info-box {
		padding: 20px;
	}
	
	.production-information {
		position: relative;
		width: 80%;
		max-width: 1200px;
		margin: auto;
	}
	.production-categories {
		width: 25%;
		color: var(--main-text-color);
		
	}
	.production-category-content {
		position: absolute;
		height: 100%;
		top: 0;
		overflow: visible; 
		display: none;
		margin-left: 35%;
	}

	.production-category-content h3 {
		display: block;
		margin-top: -0px;
	}

	.divider {
		width: 30%;
		margin: 20px 0;
	}
}
